@import '../themify', '../vars';

.BurnActivity {
  .toolbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    line-height: 30px;

    .title {
      margin: 0;
      overflow: hidden;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 0.46px;
    }

    .line {
      content: '';
      display: inline-block;
      height: 1px;
      margin: 15px 15px 0;
      opacity: $secondary-opacity;
      line-height: 1px;
      vertical-align: middle;

      @include themify($themes) {
        background-color: themed('border-color-base');
      }
    }

    .search {
      display: inline-block;
      position: relative;
      top: -14px;
      width: 253px;
      height: 22px;
      padding-bottom: 4px;
      opacity: $secondary-opacity;
      font-size: 10px;

      @include themify($themes) {
        border-bottom: 2px solid themed('border-color-base');
        background-color: themed('component-background');
        color: themed('text-color');
      }

      .anticon {
        font-size: 16px;

        @include themify($themes) {
          color: themed('text-color');
        }
      }

      .ant-input {
        height: 14px;
        font-size: 10px;

        @include themify($themes) {
          background-color: themed('component-background');
        }
      }

      .ant-input-prefix {
        left: 2px;
      }
    }
  }

  .no-activity {
    margin: 20px auto;
    text-align: center;
  }

  .list-header {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 40px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.95px;
    text-transform: uppercase;
    overflow-wrap: break-word;

    :first-child {
      padding-left: 14px;
    }
  }
}
