@import '../themify', '../partial', '../vars';

.BurnStatusDisplay {
  position: relative;
  margin-top: 30px;
  padding-bottom: 14px;

  @include themify($themes) {
    background-color: themed('input-bg');
  }

  &.hidden {
    opacity: $secondary-opacity;
  }

  .actions {
    visibility: hidden;
    position: absolute;
    right: 0;
    margin: 1em;
    transition: visibility 0.5s;

    &.forceDisplay {
      visibility: visible;
    }

    .toggle-hide {
      opacity: $secondary-opacity;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }

  &:hover .actions,
  &.hidden .actions {
    visibility: visible;
  }

  .summary {
    display: grid;
    grid-template-areas:
      'logo exchange'
      'logo status';
    grid-template-columns: auto 1fr;
  }

  .logo {
    grid-area: logo;
    width: 70px;
    padding: 15px 0 0 15px;

    svg {
      max-width: 55px;
      max-height: 55px;

      @include themify($themes) {
        stroke: themed('text-color');
        fill: themed('text-color');
      }
    }
  }

  .exchange-info {
    grid-area: exchange;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;

    .exchange-icon {
      display: inline-block;
      height: 15px;
      vertical-align: middle;

      @include themify($themes) {
        fill: themed('text-color');
      }
    }

    .collapse-icon {
      padding-right: 1rem;
      float: left;
      cursor: pointer;

      svg {
        transform: rotate(0);
        transition: transform 0.5s;
      }
    }

    &.open .collapse-icon svg {
      transform: rotate(90deg);
      transition: transform 0.5s;
    }

    .final-amount {
      font-weight: bold;
      white-space: nowrap;
    }

    .prover-reward {
      opacity: $secondary-opacity;
      white-space: nowrap;
    }
  }

  .status {
    @extend %status-steps;
    grid-area: status;
    grid-template-columns: repeat(3, auto minmax(54px, 1fr)) auto;
    cursor: default;

    .progress-bar {
      position: relative;
      top: -3px;
      padding: 0 5px;

      .offline-warning {
        display: inline-block;
        position: absolute;
        top: -2px;
        left: 50%;
        width: 27px;
        margin-left: -12px;
        padding: 2px;
        font-size: 15px;
        text-align: center;

        @include themify($themes) {
          background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            themed('input-bg') 30% 70%,
            rgba(0, 0, 0, 0)
          );
          color: themed('warning-color');
        }
      }
    }
  }

  .burn-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    font-size: 13px;

    &.active {
      max-height: 500px;
      transition: max-height 1s;
    }

    .burn-details-header {
      padding: 15px;
      font-weight: bold;
    }

    .burn-details-info {
      display: grid;
      grid-template-columns: auto 1fr;
      padding: 0 15px 15px 15px;
      column-gap: 1em;
    }
  }

  .error {
    @extend %error;
    margin: 1em 1em 0 1em;

    .help {
      padding-left: 3px;
      font-weight: bold;
    }
  }
}
