@import '../themify', '../vars', '../partial';

.BurnActivity {
  margin-bottom: 64px;

  .toolbar {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    line-height: 30px;

    .line {
      @extend %line;
    }

    .search {
      position: relative;
      top: -11px;
      width: 253px;
      height: 28px;
      opacity: $secondary-opacity;
      font-size: 10px;

      @include themify($themes) {
        border-bottom: 2px solid themed('border-color-base');
        background-color: themed('component-background');
        color: themed('text-color');
      }

      .anticon {
        margin: 2px;
        font-size: 16px;

        @include themify($themes) {
          color: themed('text-color');
        }
      }

      .BorderlessInput {
        display: inline-block;
      }

      .search-input {
        width: 230px;
        height: 22px;
        font-size: 12px;

        @include themify($themes) {
          background-color: themed('component-background');
        }
      }
    }

    .toggle-hidden {
      .toggle-hidden-label {
        padding: 0 0.5em 0 1em;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .burn-address {
    &.hidden {
      opacity: $secondary-opacity;
    }

    .burn-address-error {
      @extend %error;
      margin: 1.5em auto;
      padding: 1em 2.5em;
    }

    .actions {
      visibility: hidden;
      margin: 1em;
      float: right;
      transition: visibility 0.5s;
      font-size: 14px;

      @include themify($themes) {
        color: themed('error-dialog-color');
      }

      &.forceDisplay {
        visibility: visible;
      }

      .toggle-hide {
        opacity: $secondary-opacity;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }

    &:hover .actions,
    &.hidden .actions {
      visibility: visible;
    }
  }

  .no-activity {
    margin: 20px auto;
    text-align: center;
  }
}
