@import '../themify', '../vars';

.BurnBalanceDisplay {
  display: inline-block;
  position: relative;
  min-width: 415px;
  height: 276px;
  margin: 30px 15px 25px;
  padding: 28px;
  border-radius: 25px;
  text-align: left;
  text-transform: uppercase;

  @include themify($themes) {
    background-color: themed('secondary-background');
  }

  .logo-container {
    margin-bottom: 15px;
    text-align: center;

    .logo {
      height: 100px;

      @include themify($themes) {
        stroke: themed('text-color');
        fill: themed('text-color');
      }
    }
  }

  .available {
    margin-bottom: 25px;
    font-size: $font-size-s;
    font-weight: bold;
    letter-spacing: $letter-spacing-large;
    line-height: 30px;
    vertical-align: middle;

    .amount {
      position: relative;
      top: 2px;
      font-size: 30px;
      font-weight: 300;
      letter-spacing: $letter-spacing-small;
      line-height: 30px;
    }
  }

  .rest {
    margin-bottom: 5px;
    font-size: $font-size-s;
    font-weight: 300;
    letter-spacing: $letter-spacing-large;

    .icon {
      display: inline-block;
      width: 12px;
      margin-right: 5px;

      @include themify($themes) {
        stroke-width: 0.5;
        stroke: themed('text-color');
        fill: themed('text-color');
      }
    }
  }
}
