@import '../themify', '../partial', '../vars';

.BurnActions {
  margin-bottom: 36px;

  .toolbar {
    display: grid;
    grid-template-columns: auto;
    justify-items: end;

    .link {
      @extend %link;
      display: inline-block;
      font-weight: bold;
      vertical-align: bottom;
    }

    .action {
      display: inline-block;
      height: 30px;
      margin-left: 19px;
      padding: 0 26px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.24px;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;
    }
  }

  .no-balances {
    @extend %link;
    margin: 20px auto;
    opacity: $secondary-opacity;
    text-align: center;
  }

  .balances {
    display: grid;
    grid-template-columns: 1fr;
    height: 350px;
    margin-top: 13px;

    @include themify($themes) {
      border: solid 1px themed('tertiary-background');
    }

    .scroller {
      height: 336px;
      overflow: auto hidden;
      text-align: center;
      white-space: nowrap;

      &::-webkit-scrollbar-thumb {
        @include themify($themes) {
          background-color: themed('secondary-background');
        }
      }

      &::-webkit-scrollbar-track {
        margin: 34px;
        @include themify($themes) {
          background-color: themed('tertiary-background');
        }
      }

      &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
      }
    }
  }
}
