@import '../themify', '../partial', '../vars';

.BurnStatusDisplay {
  padding-bottom: 14px;

  @include themify($themes) {
    background-color: themed('input-bg');
  }

  .info {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 30px;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 13px;
    word-break: break-all;

    .info-element {
      padding-right: 14px;

      &:first-child {
        padding: 0 14px;
      }
    }

    .long-text {
      @extend %ellipsize;
      @extend %monospace;

      .clickable {
        opacity: $secondary-opacity;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }

    .exchange-icon {
      display: inline-block;
      height: 15px;
      vertical-align: middle;

      @include themify($themes) {
        fill: themed('text-color');
      }
    }
  }

  .status {
    @extend %status-steps;
    grid-template-columns: repeat(3, auto minmax(54px, 1fr)) auto;
    cursor: default;
  }

  .error {
    margin: 14px 14px 0 14px;
    padding: 15px;
    font-size: 10px;
    text-align: center;

    @include themify($themes) {
      background-color: themed('error-background-color');
      color: themed('error-color');
    }
  }
}
