@import '../themify', '../partial';

.BurnStatusDisplay {
  margin-top: 30px;
  padding-bottom: 14px;

  @include themify($themes) {
    background-color: themed('input-bg');
  }

  .exchange-info {
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;

    .exchange-icon {
      display: inline-block;
      height: 15px;
      vertical-align: middle;

      @include themify($themes) {
        fill: themed('text-color');
      }
    }

    .collapse-icon {
      padding-right: 1rem;
      float: left;
      cursor: pointer;

      svg {
        transform: rotate(0);
        transition: transform 0.5s;
      }
    }

    &.open .collapse-icon svg {
      transform: rotate(90deg);
      transition: transform 0.5s;
    }
  }

  .status {
    @extend %status-steps;
    grid-template-columns: repeat(3, auto minmax(54px, 1fr)) auto;
    cursor: default;
  }

  .burn-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    font-size: 13px;

    &.active {
      max-height: 500px;
      transition: max-height 1s;
    }

    .burn-details-header {
      padding: 15px;
      font-weight: bold;
    }

    .burn-details-info {
      display: grid;
      grid-template-columns: auto 1fr;
      padding: 0 15px 15px 15px;
      column-gap: 1em;
    }
  }

  .error {
    margin: 14px 14px 0 14px;
    padding: 15px;
    font-size: 10px;
    text-align: center;

    @include themify($themes) {
      background-color: themed('error-background-color');
      color: themed('error-dialog-color');
    }
  }
}
