@import '../vars';

.BurnCentre {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100%;
  padding: 36px;
  overflow-y: auto;

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .title {
      margin: 0;
      overflow: hidden;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 0.46px;
    }

    .more {
      align-self: end;
      text-align: right;

      .link {
        margin: 0;
        overflow: hidden;
        opacity: $secondary-opacity;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1.8px;
        cursor: pointer;

        &:hover {
          opacity: 1;
          text-decoration: underline;
        }
      }
    }
  }
}
