@import '../vars';

.PobLayout {
  height: 100%;

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .more {
      align-self: end;
      text-align: right;

      .link {
        margin: 0;
        overflow: hidden;
        opacity: $secondary-opacity;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1.8px;
        cursor: pointer;

        &:hover {
          opacity: 1;
          text-decoration: underline;
        }
      }
    }
  }

  .content {
    height: 100%;
    padding: 64px;
  }
}
