@import '../themify', '../vars', '../partial';

.BalanceDisplay {
  margin: 0;

  .balances {
    .label {
      font-size: 0.8vw;
      font-weight: 600;
    }

    .available-balance {
      @extend %monospace;
      margin-left: -4px;
      font-size: 5vw;
      line-height: 4vw;
    }

    .suffix {
      font-size: 0.8vw;
      font-weight: 600;
    }
  }
}
