@import '../themify';

.graph-svg {
  width: 100%;
  height: auto;
}

.graph-confidential {
  @include themify($themes) {
    stroke: themed('primary-color');
  }
}

.graph-transparent {
  @include themify($themes) {
    stroke: themed('secondary-color');
  }
}

.graph-pending {
  @include themify($themes) {
    stroke: themed('pending-color');
  }
}

.graph-empty {
  @include themify($themes) {
    stroke: themed('secondary-background');
  }
}
