@import '../theme.scss';

.graph-svg {
  width: 249px;
  height: 249px;
  fill: $secondary-background;
}

.graph-confidential {
  stroke: $primary-color;
}

.graph-transparent {
  stroke: $secondary-color;
}

.graph-pending {
  stroke: $tertiary-color;
}
