@import '../themify';

.graph-svg {
  width: 249px;
  height: 249px;

  @include themify($themes) {
    fill: themed('secondary-background');
  }
}

.graph-confidential {
  @include themify($themes) {
    stroke: themed('primary-color');
  }
}

.graph-transparent {
  @include themify($themes) {
    stroke: themed('secondary-color');
  }
}

.graph-pending {
  @include themify($themes) {
    stroke: themed('pending-color');
  }
}
