@import '../themify', '../partial', '../vars', '../functions';

#App .TransactionHistory {
  display: grid;
  grid-template-rows: auto 1fr;
  margin: 0;

  .svg {
    @include themify($themes) {
      stroke: themed('text-color');
      fill: themed('text-color');
    }
  }

  .toolbar {
    @include header-margin-top;

    display: grid;
    grid-template-columns: 1fr auto;
    line-height: 30px;
  }

  .no-transactions {
    @extend %empty-list-message;
  }

  .transactions-container {
    margin-top: 30px;
  }
}

.SortByDropdown {
  .ant-dropdown-menu-item {
    &:hover {
      @include themify($themes) {
        background-color: themed('primary-color');
      }
    }
  }
}
