@import '../themify', '../partial', '../vars';

.TransactionHistory {
  display: grid;
  grid-template-rows: auto 1fr;
  margin: 0;

  .svg {
    @include themify($themes) {
      stroke: themed('text-color');
      fill: themed('text-color');
    }
  }

  .toolbar {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-top: $router-top-margin;
    line-height: 30px;

    .sort-by {
      display: inline-block;
      font-size: $font-size-s;
      font-weight: bold;
      letter-spacing: $letter-spacing-small;
      text-align: left;
      text-transform: uppercase;
      vertical-align: middle;
      cursor: pointer;
    }
  }

  .no-transactions {
    @extend %empty-list-message;
  }

  .transactions-container {
    margin-top: 30px;
  }
}

.SortByDropdown {
  .ant-dropdown-menu-item {
    &:hover {
      @include themify($themes) {
        background-color: themed('primary-color');
      }
    }
  }
}
