@import '../themify', '../vars';

.ReceiveModalFooter {
  padding: 24px 0;
  text-align: left;

  .title {
    padding: 10px 0;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .address {
    width: 508px;
    padding: 10px 0;
    overflow: hidden;
    font-size: 10px;
    white-space: nowrap;
  }
}

.TransactionHistory {
  display: grid;
  grid-template-rows: auto 1fr;
  margin: 0 36px 100px 36px;

  .svg {
    @include themify($themes) {
      stroke: themed('text-color');
      fill: themed('text-color');
    }
  }

  .toolbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    line-height: 30px;

    .title {
      margin: 0;
      overflow: hidden;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 0.46px;
    }

    .line {
      content: '';
      display: inline-block;
      height: 1px;
      margin: 15px 15px 0;
      opacity: $secondary-opacity;
      line-height: 1px;
      vertical-align: middle;

      @include themify($themes) {
        background-color: themed('border-color-base');
      }
    }

    .sort-by {
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.15px;
      text-align: left;
      text-transform: uppercase;
      vertical-align: middle;
      cursor: pointer;
    }

    .action {
      display: inline-block;
      width: 126px;
      height: 30px;
      margin-left: 19px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1.8px;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;
    }
  }

  .no-transactions {
    position: relative;

    .no-transactions-text {
      position: absolute;
      top: 50%;
      bottom: 50%;
      width: 100%;
      opacity: 0.16;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1.8px;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;
    }
  }

  .transactions-container {
    margin-top: 30px;

    .transactions {
      width: 100%;
      border-collapse: collapse;

      .header {
        position: sticky;
        top: 0;
        padding-left: 12px;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 1.95px;
        line-height: 40px;
        text-align: left;
        text-transform: uppercase;
      }

      .line {
        height: 106px;
        padding-top: 24px;
        font-size: 13px;
        letter-spacing: 0.3px;
        line-height: 44px;
        vertical-align: middle;

        @include themify($themes) {
          border-bottom: 1px solid
            rgba($color: themed('tertiary-background'), $alpha: $secondary-opacity);
        }

        .type-icon {
          display: inline-block;
          position: relative;
          width: 20px;
          padding-left: 12px;

          .svg {
            position: absolute;
            top: 50%;
            bottom: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .check {
          @include themify($themes) {
            fill: themed('success-color');
          }
        }

        .dust {
          float: left;
        }

        .amount {
          display: inline-block;
          padding: 0 10px;
          font-weight: bold;
          line-height: 32px;

          @include themify($themes) {
            background-color: themed('secondary-background');
          }
        }
      }
    }
  }
}

.SortByDropdown {
  .ant-dropdown-menu-item {
    &:hover {
      @include themify($themes) {
        background-color: themed('primary-color');
      }
    }
  }
}
