@import '../themify', '../vars', '../partial';

.TransparentAccounts {
  display: grid;
  grid-template-rows: auto 1fr;
  margin: 0 0 100px;

  .svg {
    @include themify($themes) {
      stroke: themed('text-color');
      fill: themed('text-color');
    }
  }

  .toolbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    line-height: 30px;

    .line {
      @extend %line;
    }

    .action {
      display: inline-block;
      height: 30px;
      margin-left: 19px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1.8px;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;
    }
  }

  .accounts {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 1em;

    .no-accounts-text {
      grid-column: 1 / -1;
      @extend %empty-list-message;
    }

    .list-accounts {
      display: contents;

      .header {
        display: contents;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 1.95px;
        text-align: left;
        text-transform: uppercase;

        & > * {
          margin-top: 1.5em;
        }

        @include themify($themes) {
          background-color: themed('component-background');
        }

        .hide-empty {
          justify-self: end;

          .hide-empty-label {
            padding: 0 1em;
            cursor: pointer;
          }
        }
      }

      .transparent-account {
        display: contents;

        .info {
          display: contents;
          min-height: 73px;
          font-size: 13px;
          letter-spacing: 0.3px;
          line-height: 44px;
          vertical-align: middle;

          & > * {
            margin: 2em 0 0;
            padding: 1.5em 0;

            @include themify($themes) {
              background-color: themed('normal-color');
            }
          }

          & > :first-child {
            padding-left: 1em;
          }

          .dust {
            margin-right: 6px;
            float: left;
          }

          .amount {
            display: inline-block;
            padding: 0 10px;
            font-weight: bold;
            line-height: 32px;

            @include themify($themes) {
              background-color: themed('secondary-background');
            }
          }

          .actions {
            text-align: right;
          }

          .action {
            display: inline-block;
            height: 32px;
            margin-right: 1em;
            padding: 0 10px;
            font-size: 12px;
            font-weight: bold;
            line-height: 32px;
          }
        }

        .transactions-container {
          grid-column: 1 / -1;
          padding: 0 1em 1em;

          @include themify($themes) {
            background-color: themed('normal-color');
          }

          .TransactionList {
            padding: 0 1em;

            @include themify($themes) {
              background-color: themed('secondary-background');
            }
          }

          .transactions-footer {
            padding: 0.5em 1em;
            text-align: center;

            .transactions-collapse {
              @extend %link;
              font-size: 13px;
              font-weight: bold;
              text-decoration: none;
              text-transform: uppercase;
            }

            @include themify($themes) {
              background-color: themed('secondary-background');
            }
          }
        }
      }
    }
  }
}
