@import '../themify', '../vars', '../partial';

.TransparentAccounts {
  display: grid;
  grid-template-rows: auto 1fr;
  margin: 0 0 100px;

  .svg {
    @include themify($themes) {
      stroke: themed('text-color');
      fill: themed('text-color');
    }
  }

  .toolbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    line-height: 30px;

    .line {
      @extend %line;
    }

    .action {
      display: inline-block;
      height: 30px;
      margin-left: 19px;
      font-size: $font-size-s;
      font-weight: bold;
      letter-spacing: $letter-spacing-medium;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;
    }
  }

  .accounts {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 1em;

    .no-accounts-text {
      grid-column: 1 / -1;
      @extend %empty-list-message;
    }

    .list-accounts {
      display: contents;

      .header {
        display: contents;
        font-size: $font-size-s;
        font-weight: bold;
        letter-spacing: $letter-spacing-large;
        text-align: left;
        text-transform: uppercase;

        & > * {
          margin-top: 1.5em;
        }

        @include themify($themes) {
          background-color: themed('component-background');
        }

        .hide-empty {
          justify-self: end;

          .hide-empty-label {
            @extend %disable-focus-outline;

            padding: 0 1em;
            cursor: pointer;

            &:focus,
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .transparent-account {
        display: contents;

        .info {
          display: contents;
          min-height: 73px;
          font-size: $font-size-s;
          letter-spacing: $letter-spacing-small;
          line-height: 44px;
          vertical-align: middle;

          & > * {
            margin: 2em 0 0;
            padding: 1.5em 0;

            @include themify($themes) {
              background-color: themed('normal-color');
            }
          }

          & > :first-child {
            padding-left: 1em;
            border-radius: $dialog-component-border-radius 0 0 $dialog-component-border-radius;
          }

          & > :last-child {
            border-radius: 0 $dialog-component-border-radius $dialog-component-border-radius 0;
          }

          &.transactionsVisible {
            & > :first-child {
              border-radius: $dialog-component-border-radius 0 0 0;
            }

            & > :last-child {
              border-radius: 0 $dialog-component-border-radius 0 0;
            }
          }

          .dust {
            margin-right: 6px;
            float: left;
          }

          .amount {
            display: inline-block;
            padding: 0 10px;
            border-radius: $dialog-component-border-radius;
            font-weight: bold;
            line-height: 2rem;

            @include themify($themes) {
              background-color: themed('secondary-background');
            }
          }

          .actions {
            text-align: right;
          }

          .action {
            display: inline-block;
            height: 2rem;
            margin-right: 1em;
            padding: 0 15px;
            font-size: $font-size-s;
            font-weight: bold;
            line-height: 2rem;

            &.secondary:not(:disabled) {
              &:hover,
              &:focus {
                @include themify($themes) {
                  background-color: themed('component-background');
                }
              }
            }
          }
        }

        .transactions-container {
          grid-column: 1 / -1;
          padding: 0 1em 1em;
          border-radius: 0 0 $dialog-component-border-radius $dialog-component-border-radius;

          @include themify($themes) {
            background-color: themed('normal-color');
          }

          .TransactionList {
            padding: 0 1em;
            border-radius: $dialog-component-border-radius $dialog-component-border-radius 0 0;

            @include themify($themes) {
              background-color: themed('secondary-background');
            }
          }

          .transactions-footer {
            padding: 0.5em 1em;
            border-radius: 0 0 $dialog-component-border-radius $dialog-component-border-radius;
            text-align: center;

            .transactions-collapse {
              @extend %link;
              font-size: $font-size-s;
              font-weight: bold;
              text-decoration: none;
              text-transform: uppercase;
            }

            @include themify($themes) {
              background-color: themed('secondary-background');
            }
          }
        }
      }
    }
  }
}
