@import '../themify', '../vars', '../partial';

.TransactionRow {
  display: contents;
  font-size: $font-size-s;
  letter-spacing: $letter-spacing-small;
  line-height: 44px;
  vertical-align: middle;

  @include themify($themes) {
    border-bottom: 1px solid rgba($color: themed('tertiary-background'), $alpha: $secondary-opacity);
  }

  .icon {
    vertical-align: middle;

    svg {
      width: 20px;
      padding-right: 5px;

      &.pending {
        @include themify($themes) {
          fill: themed('text-color');
        }
      }

      &.confirmed {
        @include themify($themes) {
          fill: themed('text-color');
        }
      }

      &.persisted_depth,
      &.persisted_checkpoint {
        @include themify($themes) {
          fill: themed('tx-success-color');
        }
      }

      &.failed {
        @include themify($themes) {
          fill: themed('error-color');
        }
      }

      &.failedToExecute {
        @include themify($themes) {
          fill: themed('error-color');
        }

        &.nonPersisted {
          @include themify($themes) {
            fill: themed('text-color');
          }
        }
      }
    }
  }

  .row-header {
    display: contents;
  }

  .cell {
    align-self: center;
    justify-self: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .collapse-icon {
    padding-right: 1rem;
    float: left;
    cursor: pointer;
    user-select: none;

    svg {
      transform: rotate(0);
      transition: transform 0.5s;
    }
  }

  &.open .collapse-icon svg {
    transform: rotate(90deg);
    transition: transform 0.5s;
  }
  .details {
    grid-column: 1 / -1;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    line-height: 1rem;

    @include themify($themes) {
      border-bottom: 1px solid
        rgba($color: themed('tertiary-background'), $alpha: $secondary-opacity);
    }

    &.active {
      max-height: 500px;
      transition: max-height 1s;
    }

    .content {
      padding: 0 0 1rem;

      > div {
        margin-bottom: 1em;
      }

      .type-label {
        margin-bottom: 1em;
        font-weight: bold;
      }
    }
  }

  .asset-icon {
    @extend %asset-icon;
    margin-right: 6px;
  }

  .amount {
    @extend %monospace;

    display: inline-block;
    padding: 10px;
    border-radius: $dialog-component-border-radius;
    background-color: $dark-normal-color;
    color: $dark-text-color;
    font-weight: bold;
    line-height: 14px;

    &.incoming {
      color: $primary-color;
    }

    .fee {
      display: block;
    }
  }
}

// In tooltip scope too
.two-col-table {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
}

.DetailedAmount {
  max-width: 200px;
}

.monospace {
  @extend %monospace;
}
