@import '../themify', '../vars';

$header-height: 70px;
$header-text-height: 50px;

$balance-padding: 24px 24px 0;

.WalletOverview {
  display: grid;
  grid-template-areas:
    'header header header'
    'graph total total'
    'graph confidential transparent';
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: $header-height 160px 115px;
  margin: 0 0 100px;

  .svg {
    @include themify($themes) {
      stroke-width: 0.5;
      stroke: themed('text-color');
      fill: themed('text-color');
    }
  }

  .header {
    grid-area: header;
  }

  %header-row {
    display: inline-block;
    height: $header-text-height;
  }

  .main-title {
    @extend %header-row;
  }

  .SyncStatus {
    @extend %header-row;
    float: right;
  }

  .graph {
    grid-area: graph;
    margin: 20px 70px 0 0;
  }

  .total {
    grid-area: total;
    padding: $balance-padding;
    overflow: hidden;
    white-space: nowrap;
  }

  %balance {
    min-width: 205px;
    padding: $balance-padding;
    overflow: hidden;
    white-space: nowrap;
  }

  .confidential {
    @extend %balance;
    grid-area: confidential;
    margin-right: 30px;
  }

  .transparent {
    @extend %balance;
    grid-area: transparent;
    border-radius: 20px;

    @include themify($themes) {
      background-color: themed('secondary-background');
    }
  }

  .box-text {
    margin-bottom: 4px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.95px;
    line-height: 20px;
  }

  .box-icon {
    display: inline-block;
    position: relative;
    width: 25px;

    .svg {
      position: absolute;
      top: 50%;
      bottom: 50%;
      transform: translate(-20%, -60%);
    }
  }

  .box-info {
    width: 20px;
    height: 20px;
    float: right;
    border-radius: 50%;
    font-family: Georgia, serif;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    text-transform: lowercase;

    @include themify($themes) {
      background-color: themed('tertiary-background');
      color: #fff;
    }
  }

  .box-amount {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.69px;
    line-height: 44px;
  }

  .box-amount-big {
    padding-bottom: 7px;
    font-size: 45px;
    letter-spacing: 1.04px;
    line-height: 44px;
  }

  .dust {
    margin-right: 6px;
    float: left;
  }
}
