@import '../partial', '../themify', '../vars';

.WalletError {
  .header {
    margin-bottom: $dialog-component-spacing;
  }

  .error-msg {
    @extend %monospace;
    font-size: $font-size-xl;

    @include themify($themes) {
      color: themed('error-color');
    }
  }

  .show-stacktrace {
    @extend %link;

    margin-bottom: $dialog-component-spacing;
    font-size: $font-size-s;
  }

  .stacktrace {
    @extend %monospace;

    max-height: 250px;
    margin: 0.5rem 0 $dialog-component-spacing 0;
    padding: 0.7em 1em;
    overflow: auto;
    white-space: pre;

    @include themify($themes) {
      border: 1px solid themed('border-color-base');
      background-color: themed('quaternary-background');
    }
  }

  .retry-countdown {
    margin-bottom: 0.5rem;
  }
}
