@import '../themify', '../vars', '../partial', '../functions';

.ClaimRow {
  margin-bottom: 2em;

  .action-link {
    @extend %disable-focus-outline;

    margin-bottom: 0.75rem;
    transition: opacity $transition-duration;
    opacity: $unselected-opacity;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;

    @include themify($themes) {
      color: themed('text-color');
    }

    &:last-child {
      margin: 0;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  .amount {
    display: inline-block;
    margin-left: 1em;

    @include themify($themes) {
      color: themed('secondary-text-color');
    }
  }

  .header {
    display: grid;
    grid-gap: 0.25em;
    grid-template-areas: 'claim-title exchange external-address midnight-address';
    grid-template-columns: 1fr 2fr 3fr 3fr;

    margin-bottom: 1em;
    font-size: $font-size-s;
    line-height: 1.5;

    .claim-title {
      grid-area: claim-title;
      font-weight: bold;
      text-transform: uppercase;
    }

    .exchange {
      grid-area: exchange;

      .icon {
        display: inline-block;
        height: 11px;
        vertical-align: middle;

        @include themify($themes) {
          fill: themed('text-color');
        }
      }
    }

    .external-address {
      @extend %ellipsize;
      grid-area: external-address;

      @include themify($themes) {
        color: themed('secondary-text-color');
      }
    }

    .midnight-address {
      @extend %ellipsize;
      grid-area: midnight-address;

      @include themify($themes) {
        color: themed('secondary-text-color');
      }
    }
  }

  .status {
    @extend %status-steps;
    $columns: 4;
    grid-template-areas:
      repeat-with-separator('header', $columns * 2)
      'claimed claimed unlocked unlocked unfrozen unfrozen withdrawn withdrawn';
    grid-template-columns: repeat($columns, auto 1fr);
    grid-template-rows: 25px auto;

    height: unset;
    padding: 2em 1.5em;
    border-radius: $dialog-component-border-radius;

    @include themify($themes) {
      background-color: themed('secondary-component-background');
    }

    .detail {
      padding-left: 4px;
      font-weight: normal;

      & > div:first-child {
        margin-bottom: 1em;

        @include themify($themes) {
          color: themed('text-color');
        }
      }
    }

    .claimed {
      grid-area: claimed;
    }

    .unlocked {
      grid-area: unlocked;

      .pow-status {
        margin-bottom: 1em;
      }

      .puzzle-progress {
        .time-left {
          display: inline-block;
          margin-left: 0.5em;
          font-weight: bold;

          @include themify($themes) {
            color: themed('text-color');
          }
        }

        .puzzle-warning {
          margin-top: 1em;

          @include themify($themes) {
            color: themed('error-text');
          }
        }
      }
    }

    .unfrozen {
      grid-area: unfrozen;

      button {
        margin: 0 0 0.5rem;
      }
    }

    .withdrawn {
      grid-area: withdrawn;

      .withdraw-progress {
        margin-bottom: 2em;
      }
    }

    .tx-status {
      margin-bottom: 0.5em;
      font-weight: bold;

      .fail {
        @include themify($themes) {
          color: themed('error-text');
        }
      }
    }
  }
}
