@import '../partial', '../themify', '../vars';

.Epochs {
  .main-title {
    margin-bottom: 1rem;
  }

  .epoch-timer {
    margin-left: 2em;
    font-size: 12px;

    @include themify($themes) {
      color: themed('secondary-text-color');
    }

    .clock {
      margin-right: 8px;

      @include themify($themes) {
        stroke: themed('secondary-text-color');
      }
    }
  }

  .table-container {
    width: 100%;
    padding-bottom: 2rem;
    overflow-x: auto;
  }

  .epochs-table {
    display: grid;
    grid-gap: 0;
    font-size: 12px;

    & > div {
      padding: 20px 20px 20px 0;
      white-space: nowrap;

      @include themify($themes) {
        border-top: 1px solid themed('tertiary-component-background');
        color: themed('inactive-text-color');
      }

      &.pending {
        @include themify($themes) {
          color: themed('secondary-text-color');
        }
      }

      &.address {
        word-break: break-all;
        white-space: initial;
      }
    }

    & > div.header {
      border: none;
      font-weight: bold;
      letter-spacing: $letter-spacing-large;
      line-height: 1.33;
      text-transform: uppercase;

      @include themify($themes) {
        color: themed('text-color');
      }

      &.pending {
        @include themify($themes) {
          color: themed('secondary-text-color');
        }
      }
    }
  }

  .checked {
    margin-left: 5px;

    @include themify($themes) {
      fill: themed('success-color');
    }
  }
}
