@import '../themify', '../partial', '../vars';

.GlacierDropOverview {
  .content {
    margin: 64px 64px 0;

    > .error {
      font-size: $font-size-m;
      text-align: center;
    }

    .claim-buttons {
      margin-bottom: 1rem;

      .Token .footer .footer-text {
        margin: auto 1rem;
      }
    }

    .claim-history {
      margin-bottom: 100px;

      .title {
        display: grid;
        grid-template-columns: auto 1fr;
        margin-bottom: 1rem;
        line-height: 30px;

        .main-title {
          display: inline-block;
          margin-bottom: 0rem;
        }

        .line {
          @extend %line;

          @include themify($themes) {
            background-color: themed('secondary-text-color');
          }
        }
      }

      .claims {
        margin-top: 3rem;
      }

      .message {
        opacity: 0.3;
        font-size: $font-size-s;
        font-weight: bold;
        letter-spacing: $letter-spacing-large;
        text-align: center;
        text-transform: uppercase;
        vertical-align: middle;
      }
    }
  }
}
