@import '../themify', '../partial';

.GlacierDropOverview {
  .main-title {
    margin-bottom: 3em;
  }

  .content {
    margin: 0 6rem;

    .claim-buttons {
      margin-bottom: 1rem;

      .Token .footer .footer-text {
        margin: auto 1rem;
        text-align: right;
      }
    }

    .claim-history {
      margin-bottom: 100px;

      .title {
        display: grid;
        grid-template-columns: auto 1fr;
        margin-bottom: 1rem;
        line-height: 30px;

        .main-title {
          display: inline-block;
          margin-bottom: 0rem;
        }

        .line {
          @extend %line;

          @include themify($themes) {
            background-color: themed('secondary-text-color');
          }
        }
      }

      .claims {
        margin-top: 3rem;
      }

      .message {
        opacity: 0.3;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1.8px;
        text-align: center;
        text-transform: uppercase;
        vertical-align: middle;
      }
    }
  }
}

.no-wallet-container {
  height: 100%;
  padding: 120px 64px 64px;
}
