@import '../themify';

.PeriodStatus {
  display: grid;
  grid-template-areas: 'period-info puzzle-info';
  grid-template-columns: 1fr auto;
  margin-bottom: 3rem;

  @include themify($themes) {
    color: themed('secondary-text-color');
  }

  .period-info {
    $icon-size: 13px;
    $icon-col-size: 20px;

    grid-area: period-info;
    margin-left: $icon-col-size;
    padding-right: 1em;
    font-size: $icon-size;

    .icon {
      position: relative;
      right: ($icon-col-size - $icon-size);
      width: $icon-size;
      margin-left: -$icon-size;

      @include themify($themes) {
        stroke-width: 0.5;
        stroke: themed('text-color');
        fill: themed('text-color');
      }
    }

    .hourglass {
      vertical-align: sub;

      @include themify($themes) {
        stroke: themed('secondary-text-color');
        fill: themed('secondary-text-color');
      }
    }

    .current-period {
      margin-bottom: 1em;

      .current-period-title {
        margin-bottom: 0.5em;
        font-weight: bold;
        letter-spacing: 1.95px;
        text-transform: uppercase;

        @include themify($themes) {
          color: themed('text-color');
        }
      }

      .current-period-detail {
        font-size: 12px;
      }
    }

    .next-period {
      font-size: 12px;
    }
  }

  .puzzle-info {
    grid-area: puzzle-info;
    padding: 1.5em;
    font-size: 13px;

    @include themify($themes) {
      background-color: themed('tertiary-component-background');
    }

    .title {
      font-weight: bold;

      @include themify($themes) {
        color: themed('success-color');
      }
    }
  }
}
