@import '../partial';

.WithdrawAvailableDust {
  .dialog-children {
    margin-bottom: 3rem;
  }

  .DialogMessage .description {
    @extend %monospace;
    font-weight: bold;
  }

  .DialogInputPassword {
    margin-bottom: 0px;
  }

  .more-info {
    @extend %dialog-info-link;
  }
}
