@import '../../themify', '../../vars';

.LockWalletModal {
  font-size: 13px;

  .remove-link {
    margin-bottom: 20px;
    transition: color $transition-duration;
    text-decoration: underline;
    cursor: pointer;

    @include themify($themes) {
      color: rgba(themed('error-color'), 0.9);
    }

    &:hover {
      transition: color $transition-duration;

      @include themify($themes) {
        color: themed('error-color');
      }
    }
  }
}
