@import '../../themify', '../../vars', '../../partial';

.LockWalletModal {
  font-size: 12px;

  .remove-link {
    @extend %disable-focus-outline;

    margin-bottom: $dialog-component-spacing;
    transition: color $transition-duration;
    cursor: pointer;

    @include themify($themes) {
      color: rgba(themed('error-color'), 0.9);
    }

    &:hover,
    &:focus {
      transition: color $transition-duration;
      text-decoration: underline;

      @include themify($themes) {
        color: themed('error-color');
      }
    }
  }
}
