@import '../../themify', '../../partial', '../../vars';

.ReceiveModalFooter {
  padding: 1.5rem 64px;
  text-align: left;

  @include themify($themes) {
    background-color: themed('dialog-dark-input-bg');
  }

  .title {
    padding: 0 0 0.5rem;
    opacity: $secondary-opacity;
    font-size: $font-size-s;
    font-weight: bold;
    text-transform: uppercase;
  }

  .address {
    @extend %monospace;
    width: 508px;
    padding: 0.5rem 0;
    overflow: hidden;
    opacity: $secondary-opacity;
    font-size: $font-size-s;
    white-space: nowrap;

    &:hover {
      opacity: 1;
    }
  }

  .link {
    @extend %link;
    display: block;
    padding: 0.5rem 0;
    font-size: $font-size-xs;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.ReceiveModal {
  .mode-switch {
    width: 172px;
    margin-bottom: 1rem;
  }
}
