@import '../../themify', '../../partial', '../../vars';

.RedeemModal {
  .amount-container {
    @extend %two-col-grid-template;

    grid-template-columns: auto 1fr;

    .label {
      @extend %dialog-label;
      grid-column: 1 / -1;
    }

    .full-amount {
      height: $dialog-component-height;
      opacity: 1;

      &.inactive {
        opacity: $unselected-opacity;

        @include themify($themes) {
          background-color: themed('input-bg');
          color: themed('text-color');
        }

        &:hover,
        &:focus {
          opacity: 1;
        }
      }
    }
  }
}
