.WalletDialogPrivateKey {
  margin-bottom: 20px;

  .display {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: auto 1fr;
    margin-bottom: 10px;
  }

  .private-key {
    word-break: break-all;
  }

  .download {
    padding: 0 30px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }
}
