@import './themify', './vars', '../partial';

// Button overrides

$transition: all $transition-duration cubic-bezier(0.645, 0.045, 0.355, 1);

.App,
.ant-modal-root {
  .ant-btn {
    height: $dialog-component-height;
    padding: 0 15px;
    transition: $transition;
    border-radius: $dialog-component-border-radius;
    font-size: $font-size-button;
    font-weight: bold;
    letter-spacing: $letter-spacing-medium;
    text-align: center;
    text-shadow: none;

    &.right-diagonal::before,
    &.left-diagonal::after {
      transition: $transition;
      opacity: 1;
    }

    &.right-diagonal::before {
      // Default antd values conflicted with
      top: unset;
      bottom: unset;
    }

    &.small-button {
      height: 30px;
      margin: 0.5rem 0;
      font-size: $font-size-s;
      letter-spacing: initial;
    }

    .ant-btn-loading-icon {
      transform: translateX(-10px);
    }

    &::before,
    &::after {
      transition: $transition;
    }
  }

  .ant-btn,
  .ant-btn.active {
    @include themify($themes) {
      background-color: themed('btn-default-bg');
      color: themed('btn-default-text-color');

      &::after,
      &::before {
        background-color: themed('btn-default-bg');
      }
    }

    &:focus {
      @include themify($themes) {
        background-color: themed('btn-focus-bg');
        color: themed('secondary-background');

        &::after,
        &::before {
          background-color: themed('btn-focus-bg');
        }
      }
    }

    &:hover {
      @include themify($themes) {
        background-color: themed('btn-hover-bg');
        color: themed('secondary-background');

        &::after,
        &::before {
          background-color: themed('btn-hover-bg');
        }
      }
    }
  }

  // antd "primary" Button overrides
  .ant-btn-primary {
    @include themify($themes) {
      background-color: themed('primary-color');
      color: #000;

      &::after,
      &::before {
        background-color: themed('primary-color');
      }
    }

    &.secondary {
      @include themify($themes) {
        background-color: themed('secondary-background');
        color: themed('text-color');

        &::after,
        &::before {
          background-color: themed('secondary-background');
        }
      }

      &:hover,
      &:focus {
        @include themify($themes) {
          background-color: themed('normal-color');
          color: themed('text-color');

          &::after,
          &::before {
            background-color: themed('normal-color');
          }
        }
      }
    }
  }

  // <Button danger> Remove </Button>
  .ant-btn-dangerous {
    @include themify($themes) {
      background-color: themed('error-color');
      color: #fff;

      &::after,
      &::before {
        background-color: themed('error-color');
      }
    }
  }

  // antd disabled Button theme overrides
  .ant-btn-disabled,
  .ant-btn.disabled,
  .ant-btn[disabled],
  .ant-btn-disabled:hover,
  .ant-btn.disabled:hover,
  .ant-btn[disabled]:hover,
  .ant-btn-disabled:focus,
  .ant-btn.disabled:focus,
  .ant-btn[disabled]:focus,
  .ant-btn-disabled:active,
  .ant-btn.disabled:active,
  .ant-btn[disabled]:active,
  .ant-btn-disabled.active,
  .ant-btn.disabled.active,
  .ant-btn[disabled].active {
    @include themify($themes) {
      background-color: themed('btn-disabled-bg');
      color: rgba(0, 0, 0, 0.4);
    }

    &::after,
    &::before {
      @include themify($themes) {
        background-color: themed('btn-disabled-bg');
      }
    }
  }
}

// Header buttons
.main-buttons {
  $button-width: 125px;
  $space-between: 10px;

  position: absolute;
  right: 0;

  .action {
    display: inline-block;
    position: relative;
    z-index: 1;
    width: $button-width;
    height: $button-height;
    margin-right: $diagonal-part-width + $space-between;
    font-size: $font-size-s;
    font-weight: bold;
    line-height: $button-height;
    text-align: center;
    vertical-align: middle;
  }

  .left-diagonal {
    padding: 0 0 0 15px;

    @include themify($themes) {
      background-color: themed('btn-main-primary-bg');
      color: themed('btn-main-primary-text-color');
    }

    &::after {
      @extend %diagonal-before-after-common;
      right: -15px;

      @include themify($themes) {
        background-color: themed('btn-main-primary-bg');
      }
    }
  }

  .right-diagonal {
    padding: 0 15px 0 0;

    @include themify($themes) {
      background-color: themed('btn-main-secondary-bg');
      color: themed('btn-main-secondary-text-color');
    }

    &::before {
      @extend %diagonal-before-after-common;
      left: -15px;

      @include themify($themes) {
        background-color: themed('btn-main-secondary-bg');
      }
    }
  }
}
