.disable-animations {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}

main {
  position: relative;
  height: 100vh;
  padding: 50px;
}

.storybook-app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  min-height: 100vh;
  overflow: auto;
}

.ant-message {
  padding-left: 0 !important;
}

.MantisModal {
  margin-left: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.WalletError {
  .retry-countdown {
    display: none;
  }
}

#App {
  display: block;
  background-image: none !important;
}

div#root {
  background-image: none !important;
}

.theme-dark div#root {
  background-color: #131313;
}

.theme-light div#root {
  background-color: #15ffd7;
}

.flex-content {
  height: 80vh !important;
}
