@import '../../themify', '../../vars', '../../partial';

.DialogDropdown {
  margin-bottom: 20px;

  .active-option {
    width: 508px;
    padding: 10px 0;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;

    &.no-option {
      opacity: $secondary-opacity;
    }
  }

  .label {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
}

.DialogDropdown.small {
  .label {
    @extend %dialog-label;
    font-weight: normal;
  }
}

.DialogDropdownOverlay {
  .ant-dropdown-menu {
    @include themify($themes) {
      background-color: themed('component-background');
      color: themed('text-color');
    }
  }

  .ant-dropdown-menu-item {
    width: 508px;
    overflow: hidden;

    @include themify($themes) {
      background-color: themed('component-background');
      color: themed('text-color');
    }

    &:hover {
      @include themify($themes) {
        background-color: themed('primary-color');
      }
    }
  }
}
