@import '../../partial';

.DialogPassword {
  margin-bottom: 20px;

  .label {
    @extend %dialog-label;
  }

  .inputs {
    display: grid;
    grid-column-gap: 8px;
    grid-template-columns: 1fr 1fr;
  }

  .input {
    height: 47px;
  }

  .criteria {
    opacity: 0.3;
    font-size: 10px;
    font-weight: bold;
  }
}
