@import '../../themify', '../../partial', '../../vars';

.DialogMessage {
  margin-bottom: $dialog-component-spacing;

  .label {
    @extend %dialog-label;
  }

  .description {
    font-size: $font-size-m;
  }

  &.highlight .description {
    padding: 1rem;
    border-radius: $dialog-component-border-radius;

    @include themify($themes) {
      background-color: themed('normal-color');
      color: themed('text-color');
    }
  }

  .dark &.highlight .description {
    @include themify($themes) {
      background-color: themed('dialog-dark-input-bg');
    }
  }
}
