@import '../../themify';

.DialogDisplayWords {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 20px;

  .word {
    height: 30px;
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    user-select: none;

    @include themify($themes) {
      background-color: themed('secondary-background');
    }
  }
}
