@import '../../themify', '../../vars';

.DialogApproval {
  margin-bottom: 20px;
  padding: 20px 13px;

  @include themify($themes) {
    background-color: themed('normal-color');
  }

  .checkbox {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: auto 1fr;
    font-size: 13px;

    @include themify($themes) {
      color: rgba($color: themed('text-color'), $alpha: $secondary-opacity);
    }

    .ant-checkbox {
      align-self: center;
    }
  }
}
