@import '../../themify', '../../vars';

.DialogSeedPhrase {
  margin-bottom: $dialog-component-spacing;

  .select {
    width: 100%;
  }

  .select .ant-input {
    height: $dialog-component-height;
  }
}
