@import '../../themify', '../../partial', '../../vars';

.DialogMessage {
  margin-bottom: $dialog-component-spacing;
  border-radius: $dialog-component-border-radius;

  &.highlight {
    padding: 1rem;

    @include themify($themes) {
      background-color: themed('normal-color');
      color: themed('text-color');
    }
  }

  .dark &.highlight {
    @include themify($themes) {
      background-color: themed('dialog-dark-input-bg');
    }
  }

  .label {
    @extend %dialog-label;
  }

  .description {
    font-size: 12px; // FIXME ?
  }
}
