@import '../../partial', '../../vars';

.DialogQRCode {
  margin-bottom: 20px;
  transition: filter $transition-duration;

  &.blurred {
    transition: filter $transition-duration;
    pointer-events: none;
    filter: blur(4px);
  }

  .display {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: auto 1fr;
    margin-bottom: 10px;
  }

  .qr-content {
    @extend %monospace;
  }

  .download {
    padding: 0 30px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }

  .qr-code {
    padding: 5px 5px 0 5px;
    background-color: #fff;
  }
}
