@import '../../themify', '../../vars';

.DialogSecrets {
  margin-bottom: 20px;

  .tabs {
    height: 35px;
    padding: 4px 0;

    .tab {
      display: inline-block;
      padding: 0 1em;
      font-size: 10px;
      text-transform: uppercase;
      cursor: pointer;

      @include themify($themes) {
        border-left: 1px solid rgba($color: themed('text-color'), $alpha: $secondary-opacity);
        color: rgba($color: themed('text-color'), $alpha: $secondary-opacity);
      }

      &:hover,
      &.active {
        @include themify($themes) {
          color: themed('text-color');
        }
      }

      &:first-child {
        padding-left: 0;
        border-left: none;
      }
    }
  }

  .hidden {
    display: none;
  }
}
