@import '../../themify', '../../vars';

.DialogTabs {
  margin-bottom: 20px;

  .ant-tabs {
    @include themify($themes) {
      color: themed('text-color');
    }
  }

  .ant-tabs-bar {
    margin: 0;
    border-bottom-width: 0;
  }

  .ant-tabs-ink-bar {
    display: none !important;
  }

  .ant-tabs-nav .ant-tabs-tab {
    margin: 10px 0;
    padding: 0 10px;
    font-size: 10px;
    text-transform: uppercase;

    @include themify($themes) {
      border-left: 1px solid rgba($color: themed('text-color'), $alpha: $secondary-opacity);
      color: rgba($color: themed('text-color'), $alpha: $secondary-opacity);
    }

    &:hover,
    &:active {
      opacity: 1;

      @include themify($themes) {
        color: themed('text-color');
      }
    }

    &:first-of-type {
      padding-left: 0;
      border-left-width: 0;
    }
  }

  .ant-tabs-tab-active {
    @include themify($themes) {
      color: themed('text-color');
    }
  }

  .label {
    height: 25px;
    font-size: 10px;
    text-transform: uppercase;
  }
}
