@import '../../themify';

.DialogDisplayWords {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 20px;

  .word {
    height: 30px;
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;
    user-select: none;
    overflow-wrap: break-word;

    @include themify($themes) {
      background-color: themed('secondary-background');
    }

    .index {
      width: 38px;
      padding-left: 1em;
      float: left;
    }
  }
}
