@import '../../themify', '../../partial', '../../vars';

.DialogInput {
  position: relative;
  margin-bottom: 20px;

  &.withButton {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .label {
    @extend %dialog-label;
    display: block;
    grid-column: 1 / -1;
  }

  .input {
    height: $dialog-component-height;
  }

  .fill-button {
    height: $dialog-component-height;
    opacity: $secondary-opacity;

    @include themify($themes) {
      background-color: themed('secondary-background');
      color: themed('text-color');
    }

    &:hover {
      opacity: 1;
    }
  }

  .dark & {
    .ant-input {
      @include themify($themes) {
        background-color: themed('dialog-dark-input-bg');
        color: themed('secondary-text-color');
      }
    }

    .input {
      @include themify($themes) {
        background-color: themed('quaternary-background');
        color: themed('secondary-text-color');
      }

      svg {
        @include themify($themes) {
          stroke: themed('text-color');
          fill: themed('text-color');
        }
      }
    }

    .fill-button {
      @include themify($themes) {
        background-color: themed('tertiary-background');
      }
    }
  }
}
