.DialogSwitch {
  margin-bottom: 20px;

  .label {
    height: 25px;
    font-size: 10px;
    text-transform: uppercase;
  }

  .switch {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr auto;
    font-size: 13px;
  }
}
