@import '../../themify', '../../vars', '../../partial';

.DialogTextSwitch {
  margin: 20px auto;

  .label {
    @extend %dialog-label;
  }

  .switch-container {
    display: grid;
    grid-template-columns: 50% 50%;

    .button {
      height: 30px !important; // FIXME PM-1812 make button sizes consistent
      transition: color $transition-duration, background-color $transition-duration,
        opacity $transition-duration;
      text-align: center;

      &.inactive {
        opacity: $unselected-opacity;

        @include themify($themes) {
          background-color: themed('input-bg');
          color: themed('text-color');
        }

        &:not(:disabled) {
          &:hover,
          &:focus {
            opacity: 1;

            @include themify($themes) {
              background-color: themed('input-bg');
            }
          }
        }
      }

      &.left {
        justify-self: right;
      }

      &.right {
        justify-self: left;

        &.active {
          @include themify($themes) {
            background-color: themed('primary-color');
            color: #000;
          }

          &:disabled {
            @include themify($themes) {
              background-color: rgba(themed('primary-color'), 0.5);
            }
          }

          &:not(:disabled) {
            &:hover {
              @include themify($themes) {
                background-color: lighten(themed('primary-color'), 15%);
              }
            }

            &:focus {
              @include themify($themes) {
                background-color: lighten(themed('primary-color'), 10%);
              }
            }
          }
        }
      }
    }

    &.with-label {
      .button {
        width: 100%;
      }
    }
  }
}
