@import '../../partial', '../../vars';

.DialogPassword {
  position: relative;
  margin-bottom: $dialog-component-spacing;

  .label {
    @extend %dialog-label;
  }

  .inputs {
    @extend %two-col-grid-template;
  }

  .input {
    height: $dialog-component-height;
  }

  .criteria {
    margin-top: 5px;
    opacity: $secondary-opacity;
    font-size: $font-size-xs;
    font-weight: bold;
  }

  .password-form-item .ant-form-item-explain {
    display: none;
  }
}
