@import '../../sass-includes';

@include dialog-scoped {
  .DialogSwitch {
    margin-bottom: $dialog-component-spacing;

    .label {
      @extend %dialog-label;

      @include themify($themes) {
        color: themed('dialog-label-color');
      }
    }

    .switch {
      display: grid;
      grid-column-gap: 10px;
      grid-template-columns: 1fr auto;
      font-size: $font-size-s;
    }
  }
}
