@import '../../themify', '../../partial', '../../vars';

.DialogFee {
  margin-bottom: $dialog-component-spacing;

  .ant-input {
    border-radius: 0;

    @include themify($themes) {
      background-color: themed('input-bg');
      color: themed('text-color');
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .options .button.inactive,
  .options .button.custom {
    opacity: $unselected-opacity;

    @include themify($themes) {
      background-color: themed('input-bg');
      color: themed('text-color');
    }
  }

  .dark & {
    .ant-input {
      @include themify($themes) {
        background-color: themed('dialog-dark-input-bg');
        color: themed('secondary-text-color');
      }
    }

    .options .button.inactive {
      @include themify($themes) {
        background-color: themed('dialog-dark-input-bg');
      }
    }

    .custom.input {
      @include themify($themes) {
        background-color: themed('quaternary-background');
        color: themed('secondary-text-color');
      }

      svg {
        @include themify($themes) {
          stroke: themed('text-color');
          fill: themed('text-color');
        }
      }
    }
  }

  .options {
    display: grid;
    grid-template-columns: 0 1fr 1fr 1fr 1fr;
    height: $dialog-component-height;
    border-radius: $dialog-component-border-radius + 0.1rem;

    @include themify($themes) {
      border: 1px solid themed('input-bg');
    }

    .dark & {
      @include themify($themes) {
        border: 1px solid themed('dialog-dark-input-bg');
      }
    }

    .button {
      @extend %disable-focus-outline;

      height: 100%;
      padding: 0;
      border-radius: 0;
      font-size: 12px;
      text-align: center;

      &.custom {
        border-radius: $dialog-component-border-radius 0 0 $dialog-component-border-radius;
      }

      &.high {
        border-radius: 0 $dialog-component-border-radius $dialog-component-border-radius 0;
      }

      &.inactive:not(:disabled) {
        &:hover,
        &:focus {
          opacity: 1;
        }

        @include themify($themes) {
          background-color: themed('input-bg');
        }
      }

      .fee-amount {
        font-size: 10px;
      }
    }

    .input {
      display: hidden;
      height: 100%;
      padding: 0;
      border: 0;

      &:focus {
        box-shadow: none;
      }
    }

    &.custom-mode {
      display: grid;
      grid-template-columns: 9fr 0 auto auto auto;

      .input {
        display: block;
        margin-right: 5px;
        padding: 0 0.75rem;
        border-radius: $dialog-component-border-radius 0 0 $dialog-component-border-radius;
      }

      .button {
        transition: none;
      }

      .button.custom {
        visibility: hidden;
        padding: 0;
      }
    }
  }

  .icon {
    width: 30px;
    height: 30px;
    padding: 3px;

    @include themify($themes) {
      stroke: themed('text-color');
      fill: themed('text-color');
    }
  }

  .label {
    @extend %dialog-label;
    display: block;
  }

  .loading {
    height: $dialog-component-height;
    text-align: center;
  }

  .invalid .options {
    @include themify($themes) {
      border: 1px solid themed('error-color');
    }
  }
}
