@import '../../themify', '../../partial';

.DialogInput {
  margin-bottom: 20px;

  .label {
    @extend %dialog-label;
    display: block;
  }

  .input {
    height: 47px;
  }
}

.Dialog.dark .DialogInput .input {
  @include themify($themes) {
    background-color: themed('quaternary-background');
    color: themed('secondary-text-color');
  }
}
