@import '../../themify';

.DialogError {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 10px;
  text-align: center;

  @include themify($themes) {
    background-color: themed('error-background-color');
    color: themed('error-color');
  }
}
