@import '../../theme.scss';

.DialogApproval {
  margin-bottom: 20px;
  padding: 20px 13px;
  background-color: $normal-color;

  .checkbox {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: auto 1fr;
    color: rgba($color: $text-color, $alpha: $secondary-opacity);
    font-size: 13px;

    .ant-checkbox {
      align-self: center;
    }
  }
}
