.Sidebar {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  width: 574px;
  height: 100vh;
  background-color: #000;

  .logo {
    margin: 37px 0 0 10px;
  }

  .title {
    width: 280px;
    height: 100px;
    margin: 0 0 0 152px;
    color: #04b7e0;
    font-size: 54px;
    font-weight: bold;
    letter-spacing: -0.81px;
  }

  .navigation {
    padding: 0;
    list-style-type: none;

    .link {
      display: block;
      outline: 0;
      color: #f7f7f7;
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 0.96px;
      line-height: 66px;
      text-decoration: none;

      .prefix {
        display: inline-block;
        width: 116px;
      }

      &.active {
        font-weight: bold;

        .prefix {
          width: 113px;
          border-left: 3px solid #f7f7f7;
        }
      }

      .icon {
        display: inline-block;
        position: relative;
        width: 39px;

        .svg {
          position: absolute;
          top: 50%;
          bottom: 50%;
          transform: translate(-50%, -50%);
          stroke: #f7f7f7;
          fill: #f7f7f7;
        }
      }

      &:hover {
        color: #fff;
      }
    }
  }

  .footer {
    margin: 0 0 30px 155px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }
}
