@import '../../themify';

.BurnCoinsGenerateAddress {
  margin-top: 100px;

  .svg {
    height: 18px;

    @include themify($themes) {
      stroke: themed('text-color');
      fill: themed('text-color');
    }
  }
}
