.disable-animations {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}

.storybook-app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  min-height: 100vh;
  overflow: auto;
}

.ant-message {
  padding-left: 0 !important;
}

.LunaModal {
  margin-left: 0 !important;
}
