@import '../../partial', '../../vars';

.ReceiveTokenModal {
  .mode-switch {
    width: 172px;
    margin-bottom: 1rem;
  }

  .footer {
    .title {
      padding: 0 0 0.5rem;
      opacity: $secondary-opacity;
      font-size: $font-size-s;
      font-weight: bold;
      text-transform: uppercase;
    }

    .account {
      width: 508px;
      padding: 0.5rem 0;
      overflow: hidden;
      opacity: $secondary-opacity;
      font-size: $font-size-s;

      &:hover {
        opacity: 1;
      }

      .address {
        display: inline;
      }
    }
  }
}
