@import '../../themify', '../../partial';

.Asset {
  $height: 50px;
  margin-bottom: 1rem;

  .label {
    @extend %dialog-label;
  }

  .container {
    display: grid;
    grid-template-columns: auto 1fr;

    .logo {
      width: 40px;

      svg {
        width: auto;
        height: $height;

        @include themify($themes) {
          stroke: themed('text-color');
          fill: themed('text-color');
        }
      }
    }

    .amount {
      line-height: $height;
    }
  }
}
