@import '../../partial';

.ClaimWith {
  form > div:first-child {
    margin-bottom: 3rem;
  }

  button.ant-btn {
    width: 100%;
    text-align: center;
  }

  .DialogMessage .description {
    @extend %monospace;
    font-weight: bold;
  }
}
