@import '../../partial', '../../vars';

.Exchange {
  .DialogDropdown {
    padding-left: 1px;
  }

  .dust-balance {
    font-size: 12px;

    .message {
      margin-bottom: 1em;
    }

    .label {
      display: inline-block;
      margin-right: 2rem;
      font-size: 10px;
      text-transform: uppercase;
    }

    .amount {
      display: inline-block;
      font-weight: bold;
    }
  }

  .get-dust {
    @extend %dialog-info-link;
    margin-top: -1 * $dialog-component-spacing;
  }
}
