@import '../../partial';

.Exchange {
  .DialogDropdown {
    padding-left: 1px;

    .label {
      font-size: 10px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  .dust-balance {
    font-size: 13px;

    .message {
      margin-bottom: 1em;
    }

    .label {
      display: inline-block;
      margin-right: 2rem;
      font-size: 10px;
      text-transform: uppercase;
    }

    .amount {
      display: inline-block;
      font-weight: bold;
    }
  }

  .get-dust {
    @extend %dialog-info-link;
    margin-top: -20px;
  }
}
