@import '../../partial', '../../vars';

.SelectMethod {
  .Dialog {
    .dialog-children {
      margin-bottom: 0;
    }

    .actions {
      margin-bottom: 0;
    }
  }

  .message {
    margin-bottom: 2rem;
    opacity: $unselected-opacity;
    font-size: $font-size-s;
  }

  .section {
    margin-bottom: 10px;
  }

  .label {
    @extend %dialog-label;
  }

  .more-info {
    @extend %dialog-info-link;
  }
}
