@import '../vars';

.Tokens {
  .content {
    padding: $main-content-padding 0;

    .toolbar {
      text-align: right;

      .action {
        display: inline-block;
        height: 2rem;
        margin-right: 1em;
        padding: 0 2em;
        font-size: $font-size-s;
        font-weight: bold;
        line-height: 2rem;
      }
    }
  }
}
