@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import './themify', './vars';

.App {
  display: grid;
  grid-template-columns: auto 1fr;
  overflow: hidden;
  font-family: $font-family;

  @include themify($themes) {
    background-color: themed('component-background');
    color: themed('text-color');
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include themify($themes) {
      color: themed('text-color');
    }
  }
}
