@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import './theme.scss';

.App {
  display: grid;
  grid-template-columns: auto 1fr;
  overflow: hidden;
  background-color: $component-background;
  color: $text-color;
  font-family: $font-family;
}
