@function repeat-with-separator($string, $times, $separator: ' ') {
  @if $times <= 0 {
    @return '';
  }

  $result: $string;

  @for $i from 2 through $times {
    $result: $result + $separator + $string;
  }

  @return $result;
}

// Used for ANTD overrides
@mixin app-scoped() {
  #App,
  .ant-modal-root {
    @content;
  }
}

// Used for Dialog[...] components
@mixin dialog-scoped() {
  #App,
  .storybook-modal-root, // only for storybook
  .ant-modal-root {
    @content;
  }
}

$height-breakpoint: 900px;

@mixin header-margin-top() {
  @media only screen and (max-height: $height-breakpoint) {
    margin-top: 4rem;
  }
  @media only screen and (min-height: $height-breakpoint) {
    margin-top: 15vh;
  }
}

@mixin address-book-padding-top() {
  @media only screen and (max-height: $height-breakpoint) {
    padding-top: 4rem;
  }
  @media only screen and (min-height: $height-breakpoint) {
    padding-top: 15vh;
  }
}
