@function repeat-with-separator($string, $times, $separator: ' ') {
  @if $times <= 0 {
    @return '';
  }

  $result: $string;

  @for $i from 2 through $times {
    $result: $result + $separator + $string;
  }

  @return $result;
}

$height-breakpoint: 900px;

@mixin header-margin-top() {
  @media only screen and (max-height: $height-breakpoint) {
      margin-top: 4rem;
  }
  @media only screen and (min-height: $height-breakpoint) {
      margin-top: 10rem;
  }
}

@mixin address-book-padding-top() {
  @media only screen and (max-height: $height-breakpoint) {
      padding-top: 4rem;
  }
  @media only screen and (min-height: $height-breakpoint) {
      padding-top: 10rem;
  }
}

@mixin sidebar-margin-bottom() {
  @media only screen and (max-height: $height-breakpoint) {
      margin-bottom: 4rem;
  }
  @media only screen and (min-height: $height-breakpoint) {
      margin-bottom: 14rem;
  }
}
