/* Global theme */
@import './themify', './vars', './partial';

//
// fonts
//

@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');
@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  src: url('./assets/fonts/HelveticaNeue-Light.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Neue';
  font-weight: normal;
  src: url('./assets/fonts/HelveticaNeue.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Neue';
  font-weight: bold;
  src: url('./assets/fonts/HelveticaNeue-Bold.otf') format('opentype');
  font-display: swap;
}

//
// elements
//

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  transition: color $transition-duration;

  @include themify($themes) {
    color: themed('link-color');
  }

  &:hover {
    transition: color $transition-duration;

    @include themify($themes) {
      color: themed('text-color');
    }
  }
}

code,
pre {
  @extend %monospace;
}

div#root {
  min-height: 100vh;
}

::-webkit-scrollbar-thumb {
  @include themify($themes) {
    background-color: themed('secondary-background');
  }
}

::-webkit-scrollbar-track {
  margin: 10px;
  @include themify($themes) {
    background-color: themed('border-color-base');
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::selection {
  background-color: lighten($primary-color, 20%);
}

//
// utility classes
//

.main-title {
  margin: 0;
  overflow: hidden;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.46px;
}

.uppercase {
  text-transform: uppercase;
}

//
// theme-specific antd overrides
//

// antd generic Button overrides
.ant-btn {
  @include themify($themes) {
    background-color: themed('btn-default-bg');
    color: themed('secondary-background');
  }

  &:focus,
  &:hover {
    @include themify($themes) {
      background-color: lighten(themed('btn-default-bg'), 10);
      color: themed('secondary-background');
    }
  }
}

// antd "primary" Button overrides
.ant-btn-primary {
  @include themify($themes) {
    background-color: themed('primary-color');
    color: #fff;
  }

  &:focus,
  &:hover {
    @include themify($themes) {
      background-color: lighten(themed('primary-color'), 5);
      color: #fff;
    }
  }

  &.secondary {
    @include themify($themes) {
      background-color: themed('secondary-background');
      color: themed('text-color');
    }

    &:hover,
    &:focus {
      @include themify($themes) {
        background-color: themed('quinary-background');
        color: themed('text-color');
      }
    }
  }
}

// antd disabled Button theme overrides
.ant-btn-disabled,
.ant-btn.disabled,
.ant-btn[disabled],
.ant-btn-disabled:hover,
.ant-btn.disabled:hover,
.ant-btn[disabled]:hover,
.ant-btn-disabled:focus,
.ant-btn.disabled:focus,
.ant-btn[disabled]:focus,
.ant-btn-disabled:active,
.ant-btn.disabled:active,
.ant-btn[disabled]:active,
.ant-btn-disabled.active,
.ant-btn.disabled.active,
.ant-btn[disabled].active {
  @include themify($themes) {
    background-color: themed('btn-disabled-bg');
    color: rgba(0, 0, 0, 0.25);
  }
}

// antd Popover theme overrides
.ant-popover-inner-content {
  font-size: 12px;
  @include themify($themes) {
    background-color: themed('text-color');
    color: themed('secondary-background');
  }
}

.ant-popover-arrow {
  @include themify($themes) {
    border-color: themed('text-color') !important;
    background: themed('text-color') !important;
  }
}

// antd Message theme overrides
.ant-message-notice-content {
  @include themify($themes) {
    background-color: themed('secondary-background');
    color: themed('text-color');
  }
}

//
// non-theme-specific antd overrides
//

.Luna {
  .ant-btn {
    height: 49px;
    font-weight: bold;
    letter-spacing: 1.44px;
    text-align: right;
    text-transform: uppercase;

    &.small-button {
      height: 30px;
      margin: 0.5rem 0;
      font-size: 10px;
      letter-spacing: initial;
    }
  }

  // antd Wave animation override (e.g. Button click)
  [ant-click-animating-without-extra-node='true']::after,
  .ant-click-animating-node {
    opacity: 0.62;
  }

  .ant-message {
    padding-left: $sidebar-width;

    @media screen and #{$sidebar-collapse-query} {
      padding-left: $sidebar-collapsed-width;
    }
  }

  .ant-form-item {
    margin-bottom: 0;
  }
}
