/* Global theme */
@import './themify', './vars', './partial';

//
// fonts
//

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Montserrat:wght@300;400;500;600;700&display=swap');

//
// elements
//

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: $font-family;
  font-size: $font-size-root;
  text-rendering: optimizeLegibility; // could cause performance problems on mobile
}

a {
  transition: color $transition-duration;

  @include themify($themes) {
    color: themed('link-color');
  }

  &:hover {
    transition: color $transition-duration;

    @include themify($themes) {
      color: themed('text-color');
    }
  }
}

code,
pre {
  @extend %monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include themify($themes) {
    color: themed('text-color');
  }
}

div#root {
  @include themify($themes) {
    background-image: themed('bg-base');
  }

  min-height: 100vh;
  margin: 0;
  background-position: left top;
  background-size: cover;
}

::-webkit-scrollbar-thumb {
  @include themify($themes) {
    background-color: themed('secondary-background');
  }
}

::-webkit-scrollbar-track {
  @include themify($themes) {
    background-color: themed('border-color-base');
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::selection {
  background-color: $primary-color;
}

:focus {
  @extend %focus-outline;
}

//
// utility classes
//

.main-title {
  @extend %title;
  margin: 0;
}

.uppercase {
  text-transform: uppercase;
}

//
// theme-specific antd overrides
//

// antd checkbox
.ant-checkbox-checked .ant-checkbox-inner {
  @include themify($themes) {
    $dark-primary-color: darken(themed('primary-color'), 10%);
    border-color: $dark-primary-color;
    background-color: $dark-primary-color;
  }

  &:focus {
    @include themify($themes) {
      border-color: themed('primary-color');
      background-color: themed('primary-color');
    }
  }
}

// antd Popover theme overrides
.ant-popover-inner-content {
  font-size: $font-size-s;

  @include themify($themes) {
    background-color: themed('text-color');
    color: themed('secondary-background');
  }
}

.ant-popover > .ant-popover-content > .ant-popover-arrow {
  @include themify($themes) {
    border-color: themed('text-color');
    background: themed('text-color');
  }
}

// antd Message theme overrides
.ant-message-notice-content {
  @include themify($themes) {
    border-radius: $dialog-component-border-radius;
    background-color: themed('secondary-background');
    color: themed('text-color');
  }
}

// antd modal close X generic style
.ant-modal-close {
  @extend %disable-focus-outline;

  transition: color $transition-duration;

  @include themify($themes) {
    color: themed('secondary-text-color');
  }

  &:hover,
  &:focus {
    transition: color $transition-duration;
  }

  &:hover {
    @include themify($themes) {
      color: themed('text-color');
    }
  }

  &:focus {
    @include themify($themes) {
      color: themed('primary-color');
    }
  }

  .ant-modal-close-x {
    margin: 0;
    padding: 16px;
    color: inherit;
    font-size: 24px;
    line-height: 24px;
  }
}

// modal
.ant-modal-mask {
  @include themify($themes) {
    background-color: rgba(themed('modal-mask'), 0.6);
  }
}

input::placeholder {
  opacity: 1;

  @include themify($themes) {
    color: themed('secondary-text-color');
  }
}

//
// non-theme-specific antd overrides
//

.Mantis {
  .ant-form-item {
    margin-bottom: 0;
  }

  .ant-checkbox-wrapper {
    line-height: 20px;

    .ant-checkbox {
      top: 0;
    }
  }

  .ant-input {
    @extend %input-font-base;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  // antd Wave animation override (e.g. Button click)
  [ant-click-animating-without-extra-node]::after {
    left: unset;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}
