@import './theme.scss';

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  color: $link-color;
}

body {
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

div#root {
  min-height: 100vh;
}

::-webkit-scrollbar-thumb {
  background-color: $secondary-background;
}

::-webkit-scrollbar-track {
  margin: 10px;
  background-color: $border-color-base;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
