@import './themify', './vars';

%ellipsize {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%_dialog-label-base {
  height: $dialog-label-height;
  font-weight: 500;
}

%dialog-label {
  @extend %_dialog-label-base;
  font-size: $font-size-s;
  letter-spacing: $letter-spacing-small;
  cursor: pointer;
  user-select: none;
}

%dialog-input-inline-error {
  @extend %_dialog-label-base;
  position: absolute;
  top: -1 * $dialog-label-height;
  right: 0;
  font-size: $font-size-s - 1px;
  text-align: right;

  @include themify($themes) {
    color: themed('error-color');
  }
}

%focus-outline {
  outline: none;
  box-shadow: 0px 2px 25px 0px rgba(#000, 0.4), 0px 2px 20px 0px rgba($primary-color, 0.2);
}

%add-focus-outline {
  &:focus {
    @extend %focus-outline;
  }
}

%disable-focus-outline {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

%link {
  @extend %disable-focus-outline;

  transition: opacity $transition-duration;
  opacity: $secondary-opacity;
  text-decoration: underline;
  cursor: pointer;

  &:hover,
  &:focus {
    transition: opacity $transition-duration;
    opacity: 1;
  }
}

%title {
  margin-bottom: 2rem;
  margin-left: -3rem;
  overflow: hidden;
  font-size: Max(12px, Min(26px, #{$title-font-size})); // "Min", because min() is a sass builtin
  font-weight: 500;
  letter-spacing: $letter-spacing-small;
  line-height: 1.15;
}

%dialog-info-link {
  @extend %link;

  display: block;
  margin-bottom: 15px;
  padding: 5px 0;
  font-size: $font-size-s;
  font-weight: bold;
  text-align: right;
}

%monospace {
  font-family: $font-family-monospace;
  font-weight: 400;
  word-break: break-all;
}

%base-grid {
  display: grid;
  width: 100%;
  column-gap: 1rem;
  row-gap: 10px;
}

%error {
  padding: 1em;
  border-radius: $dialog-component-border-radius;
  font-size: $font-size-s;
  text-align: center;

  @include themify($themes) {
    background-color: themed('error-background-color');
    color: themed('error-dialog-color');
  }
}

%empty-list-message {
  margin-top: 3rem;
  opacity: $secondary-opacity;
  font-size: $font-size-s;
  font-weight: bold;
  letter-spacing: $letter-spacing-medium;
  text-align: center;
  text-transform: uppercase;
}

%two-col-grid-template {
  display: grid;
  grid-column-gap: 2.5rem;
  grid-template-columns: 1fr 1fr;
}

%input-font-base {
  font-weight: 500;
}

%diagonal-before-after-common {
  content: '' !important;
  display: inline-block;
  position: absolute;
  z-index: -1;
  width: $diagonal-part-width;
  height: $button-height;
  margin-top: -1px;
  transform: skew($button-skew);
}

%asset-icon {
  position: relative;
  top: 5px;
  height: 20px;
}

%modal-diagonal-button {
  %diagonal-template {
    @extend %diagonal-before-after-common;
    z-index: unset;
    top: 0px;
    height: 48px;
    opacity: 1;
  }

  .ant-btn {
    &.left {
      margin-left: $diagonal-part-width;
      padding: 0 $diagonal-part-width/2 0 0;

      &::before {
        @extend %diagonal-template;
        left: -15px;
        transform: skew($button-skew);
        border-right: none !important;
      }
    }

    &.right {
      margin-right: $diagonal-part-width;
      padding: 0 0 0 $diagonal-part-width/2;

      &::after {
        @extend %diagonal-template;
        right: -15px;
        transform: skew($button-skew * -1);
        border-left: none !important;
      }
    }
  }
}
