@import './partial', './themify';

.Settings {
  .main-title {
    margin-bottom: 3rem;
  }

  .content {
    .settings-item {
      margin-bottom: 2rem;

      .settings-label {
        margin-bottom: 0.5rem;
        font-size: 10px;
        text-transform: uppercase;
      }

      .settings-note {
        margin-bottom: 0.6rem;
        font-size: 10px;

        @include themify($themes) {
          color: themed('inactive-text-color');
        }
      }

      .settings-input {
        max-width: 550px;

        .ant-btn {
          margin: 1px;
          float: right;
        }

        .BorderlessInput {
          padding-right: 0.5rem;
          overflow: hidden;

          input {
            font-size: 12px;
          }
        }
      }
    }
  }
}
