@import './partial', './themify', './vars', './functions';

$content-width: 350px;

#App .Settings {
  @include header-margin-top;

  .main-title {
    margin-bottom: 3rem;
  }

  .content {
    width: $content-width;
    margin: 0 auto;

    .settings-item {
      margin-bottom: 2rem;

      .settings-label {
        margin-bottom: 0.5rem;
        font-size: $font-size-s;
      }

      .settings-note {
        margin-bottom: 0.6rem;
        font-size: $font-size-s;

        @include themify($themes) {
          color: themed('inactive-text-color');
        }
      }

      .settings-input {
        max-width: $content-width;

        .ant-btn {
          margin: 1px;
          float: right;
        }

        .BorderlessInput {
          padding-right: 0.5rem;
          overflow: hidden;

          input {
            font-size: $font-size-input;
          }
        }
      }
    }
  }

  .settings-switch-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: 22px;
    padding-bottom: 22px;

    @include themify($themes) {
      border-bottom: 1px solid themed('inactive-text-color');
    }
  }

  .DialogDropdown {
    .active-option {
      padding: 0.5rem 0 0;
    }
  }

  .main-buttons {
    position: unset;
    right: unset;
    float: right;

    .export-private-key {
      width: 220px;
      margin-right: 0px;
    }
  }
}
