@import './themify';

.SplashScreen {
  min-height: 100vh;
  padding-top: 96px;

  @include themify($themes) {
    background-color: themed('secondary-background');
  }

  .logo {
    display: block;
    margin: auto;
  }

  .title {
    font-size: 120px;
    font-weight: bold;
    letter-spacing: -1.8px;
    text-align: center;

    @include themify($themes) {
      color: themed('primary-color');
    }
  }

  .spinner {
    text-align: center;

    @include themify($themes) {
      color: themed('text-color');
    }
  }

  .loading {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    @include themify($themes) {
      color: themed('text-color');
    }
  }
}
