@import './vars';

$dark-text-color: #f7f7f7;
$dark-normal-color: #414141;
$dark-secondary-background: #000;
$dark-btn-bg: #e6e6e6;
$dark-component-background: #292929;

$light-text-color: #000000;
$light-normal-color: #fafafa;
$light-secondary-background: #fafafa;
$light-btn-bg: #a2a2a2;
$light-component-background: #fff;

// secondary and tertiary backgrounds are used on components
// put over the primary background
// quaternary and quinary backgrounds are used on modals

$themes: (
  dark: (
    text-color: $dark-text-color,
    inactive-text-color: darken($dark-text-color, 20%),
    normal-color: $dark-normal-color,
    secondary-background: $dark-secondary-background,
    primary-color: $primary-color,
    secondary-color: $secondary-color,
    success-color: $success-color,
    error-color: $error-color,
    component-background: $dark-component-background,
    secondary-component-background: lighten($dark-component-background, 5%),
    tertiary-component-background: lighten($dark-component-background, 10%),
    modal-background: $dark-secondary-background,
    link-color: $dark-text-color,
    tertiary-background: #707070,
    // for overview graph:
      pending-color: #202020,
    dialog-dark-input-bg: #202020,
    quaternary-background: #202020,
    quinary-background: #1e1e1e,
    secondary-text-color: #808080,
    error-background-color: #fcbbbb,
    border-color-base: $dark-text-color,
    btn-default-bg: $dark-btn-bg,
    btn-disabled-bg: darken($dark-btn-bg, 20%),
    switch-bg: $dark-text-color,
    input-bg: $dark-normal-color,
    modal-content-bg: $dark-secondary-background,
    modal-header-bg: $dark-secondary-background,
  ),
  light: (
    text-color: $light-text-color,
    inactive-text-color: lighten($light-text-color, 20%),
    normal-color: $light-normal-color,
    secondary-background: $light-secondary-background,
    primary-color: $primary-color,
    secondary-color: $secondary-color,
    success-color: $success-color,
    error-color: $error-color,
    component-background: $light-component-background,
    secondary-component-background: darken($light-component-background, 5%),
    tertiary-component-background: darken($light-component-background, 10%),
    modal-background: #ffffff,
    link-color: $light-text-color,
    tertiary-background: #6b6b6b,
    dialog-dark-input-bg: #f5f5f5,
    pending-color: #e1f6fb,
    quaternary-background: #fafafa,
    quinary-background: #ccc,
    secondary-text-color: #808080,
    error-background-color: #fcbbbb,
    border-color-base: $light-text-color,
    btn-default-bg: $light-btn-bg,
    btn-disabled-bg: lighten($light-btn-bg, 20%),
    switch-bg: $light-text-color,
    input-bg: $light-normal-color,
    modal-content-bg: $light-secondary-background,
    modal-header-bg: $light-secondary-background,
  ),
);
