$primary-color: #04b7e0;
$secondary-color: #9ae2f1;
$success-color: #5add92;

$component-background: #292929;

$text-color: #f7f7f7;
$link-color: $text-color;
$font-family: 'Helvetica Neue', 'Work Sans', sans-serif;

$border-color-base: $text-color;
$border-radius-base: 0;

$btn-border-width: 0;

$secondary-background: #000;
$tertiary-background: #707070;
$tertiary-color: #252525;
$secondary-opacity: 0.57;
