$primary-color: #04b7e0;
$secondary-color: #9ae2f1;
$success-color: #5add92;
$normal-color: #414141;
$error-color: #ff2121;

$component-background: #292929;

$text-color: #f7f7f7;
$link-color: $text-color;
$font-family: 'Helvetica Neue', sans-serif;

// secondary and tertiary backgrounds are used on components
// put over the primary background
$secondary-background: #000;
$tertiary-background: #707070;

$tertiary-color: #252525;

// quaternary and quinary backgrounds are used on modals
$quaternary-background: #202020;
$quinary-background: #1e1e1e;

$secondary-opacity: 0.57;
$secondary-text-color: #808080;
$error-background-color: #fcbbbb;

$border-color-base: $text-color;
$border-radius-base: 0;

$btn-border-width: 0;

$btn-default-bg: $text-color;
$btn-default-color: $secondary-background;

$switch-bg: $text-color;
$switch-height: 22px;

$input-bg: $normal-color;

$checkbox-size: 20px;

$modal-content-bg: $secondary-background;
$modal-header-bg: $secondary-background;
$modal-body-padding: 42px 64px 53px;
$modal-mask-bg: 0;
