$font-family: 'Helvetica Neue', sans-serif;
$font-family-monospace: 'Inconsolata', monospace;

// Font sizes
$font-size-root: 16px;
$font-size-title: 20px;
$font-size-input: 12px;
$font-size-button: 16px;
$font-size-button-action: 12px;
$font-size-button-small: 10px;

$secondary-opacity: 0.57;
$unselected-opacity: 0.75;

$border-radius-base: 0;
$btn-border-width: 0;
$switch-height: 22px;
$checkbox-size: 20px;
$modal-body-padding: 42px 64px 53px;

$transition-duration: 0.3s;
$wave-animation-width: 6px;

$sidebar-width: 240px;
$sidebar-collapsed-width: 80px;
$sidebar-collapse-query: '(max-width: 1300px), (max-height: 800px)';

$dialog-component-height: 3rem;
$dialog-component-spacing: 1.5rem;
$dialog-component-border-radius: 0.5rem;
$dialog-label-height: 20px;

$letter-spacing-small: 0.03em;
$letter-spacing-medium: 0.06em;
$letter-spacing-large: 0.09em;

// antd uses z-index of 10xx for modals, tooltips, etc
// let's keep sidebar under them
$zindex-sidebar: 900;

// antd overwrites
$primary-color: #33daff;
$secondary-color: #006e90;
$success-color: #5add92;
$error-color: #ff2121;
$warning-color: #ff9021;

// ant v3 line-height
$line-height-base: 1.5;
