$font-family: 'Helvetica Neue', sans-serif;
$secondary-opacity: 0.57;
$border-radius-base: 0;
$btn-border-width: 0;
$switch-height: 22px;
$checkbox-size: 20px;
$modal-body-padding: 42px 64px 53px;
$modal-mask-bg: 0;

$transition-duration: 0.3s;
$wave-animation-width: 8px;

// antd overwrites
$primary-color: #04b7e0;
$secondary-color: #9be2f1;
$success-color: #5add92;
$error-color: #ff2121;
