$font-family: 'Helvetica Neue', sans-serif;
$secondary-opacity: 0.57;
$border-radius-base: 0;
$btn-border-width: 0;
$switch-height: 22px;
$checkbox-size: 20px;
$modal-body-padding: 42px 64px 53px;

$transition-duration: 0.3s;
$wave-animation-width: 6px;

$sidebar-width: 450px;
$sidebar-collapsed-width: 200px;
$sidebar-collapse-query: '(max-width: 1400px), (max-height: 800px)';

// antd uses z-index of 10xx for modals, tooltips, etc
// let's keep sidebar under them
$zindex-sidebar: 900;

// antd overwrites
$primary-color: #04b7e0;
$secondary-color: #9be2f1;
$success-color: #5add92;
$error-color: #ff2121;
$warning-color: #ff9021;
