@import '../themify';

.BorderlessInput {
  position: relative;

  .ant-input {
    padding: 0 0.75rem;
    border: 0;
    border-radius: $dialog-component-border-radius;
    opacity: 1;
    resize: none;

    @include themify($themes) {
      border: 1px solid themed('normal-color');
      background-color: themed('normal-color');
      color: themed('text-color');
    }

    &:focus {
      box-shadow: none;
    }

    &:hover,
    &:focus {
      @include themify($themes) {
        background-color: themed('normal-color');
        color: themed('text-color');
      }
    }

    &::placeholder {
      @include themify($themes) {
        color: themed('secondary-text-color');
      }
    }
  }

  &.invalid,
  .ant-form-item-has-error & {
    .ant-input {
      @include themify($themes) {
        border: 1px solid themed('error-color') !important;
      }
    }
  }
}
