@import '../themify';

.BorderlessInput {
  position: relative;

  .ant-input {
    border: 0;

    @include themify($themes) {
      background-color: themed('normal-color');
      color: themed('text-color');
    }

    &:hover {
      border: 0;
    }

    &:focus {
      box-shadow: none;
    }
  }

  &.invalid {
    .ant-input {
      @include themify($themes) {
        border: 1px solid themed('error-color');
      }
    }
  }
}
