@import '../theme.scss';

.BorderlessInput {
  position: relative;

  .ant-input {
    border: 0;

    &:hover {
      border: 0;
    }

    &:focus {
      box-shadow: none;
    }
  }

  &.invalid {
    .ant-input {
      border: 1px solid $error-color;
    }
  }
}
