@import '../themify', '../vars', '../partial';

$dialog-width: 508px;

.Dialog {
  width: $dialog-width;
  margin: auto;

  form {
    @include themify($themes) {
      color: themed('text-color');
    }
  }

  .ant-btn {
    span {
      transition: none;
    }
  }

  .title {
    @extend %title;
  }

  .dialog-children {
    margin-bottom: $dialog-component-spacing;
  }

  .actions {
    margin-bottom: $dialog-component-spacing;

    &.grid {
      @extend %two-col-grid-template;
    }

    &.natural > * {
      margin-right: 8px;
    }

    &.wide {
      display: grid;
      grid-row-gap: 8px;
      grid-template-rows: 1fr;

      .ant-btn {
        text-align: center;
      }
    }
  }

  .ant-form-item-explain {
    position: absolute;
    top: -25px;
    right: 0;
    width: $dialog-width;
    height: 20px;
    font-size: 10px;
    text-align: right;

    @include themify($themes) {
      color: themed('error-color');
    }
  }
}
