@import '../themify';

.InlineError {
  position: relative;

  .error-message {
    position: absolute;
    top: -20px;
    right: 0;
    height: 20px;
    font-size: 10px;
    text-align: right;

    @include themify($themes) {
      color: themed('error-color');
    }
  }
}
