@import '../themify', '../vars';

.LunaModal {
  margin-left: $sidebar-width;

  @media screen and (max-width: $sidebar-collapse-at) {
    margin-left: $sidebar-collapsed-width;
  }

  @include themify($themes) {
    color: themed('text-color');
  }

  .ant-modal-content {
    @include themify($themes) {
      background-color: themed('modal-background');
    }
  }

  .ant-modal-close-x {
    width: 40px;
    height: 40px;
    margin: 24px 18px 0 0;

    @include themify($themes) {
      color: themed('text-color');
    }
  }

  .ant-modal-footer {
    padding: 0 64px;
    border-top-width: 0;

    @include themify($themes) {
      background-color: themed('quinary-background');
      color: themed('secondary-text-color');
    }
  }
}
