@import '../themify', '../vars';

.LunaModal.ant-modal {
  margin-left: $sidebar-width;

  @media screen and #{$sidebar-collapse-query} {
    margin-left: $sidebar-collapsed-width;
  }

  @include themify($themes) {
    color: themed('text-color');
  }

  .ant-modal-content {
    border-radius: $dialog-component-border-radius * 2;

    @include themify($themes) {
      background-color: themed('modal-background');
    }
  }

  .ant-modal-close {
    margin: 29px 46px 0 0;
  }

  .ant-modal-footer {
    padding: 0;
    border-top-width: 0;
  }
}
