@import '../themify', '../vars';

.LunaModal {
  margin-left: $sidebar-width;

  @media screen and #{$sidebar-collapse-query} {
    margin-left: $sidebar-collapsed-width;
  }

  @include themify($themes) {
    color: themed('text-color');
  }

  .ant-modal-content {
    @include themify($themes) {
      background-color: themed('modal-background');
    }
  }

  .ant-modal-close {
    margin: 29px 46px 0 0;

    .ant-modal-close-x {
      margin: 0;
      padding: 16px;
      transition: color $transition-duration;
      font-size: 24px;
      line-height: 24px;

      @include themify($themes) {
        color: themed('secondary-text-color');
      }

      &:hover,
      &:active {
        transition: color $transition-duration;

        @include themify($themes) {
          color: themed('text-color');
        }
      }
    }
  }

  .ant-modal-footer {
    padding: 0;
    border-top-width: 0;
  }
}
