@import '../themify', '../vars';

.SquaredSwitch.ant-switch {
  border-radius: 0;

  @include themify($themes) {
    background-color: themed('normal-color');
  }

  &.ant-switch-checked {
    @include themify($themes) {
      background-color: themed('primary-color');
    }

    &::after {
      margin-left: 0;
    }
  }

  &::after {
    top: 0px;
    width: $switch-height - 2px;
    height: $switch-height - 2px;
    border-radius: 0;

    @include themify($themes) {
      background-color: themed('text-color');
    }
  }
}
