@import '../themify';

.SyncStatus {
  font-size: 12px;
  font-weight: bold;

  @include themify($themes) {
    color: themed('inactive-text-color');
  }

  svg {
    height: 17px;
    margin: 0 0 2px 5px;
    vertical-align: middle;
  }

  &.syncing svg {
    @include themify($themes) {
      animation: spin 4s linear infinite;
      stroke: themed('primary-color');
    }
  }

  &.offline svg {
    @include themify($themes) {
      stroke: themed('error-color');
    }
  }

  &.synced svg {
    @include themify($themes) {
      stroke: themed('text-color');
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}
