@import '../themify';

.SyncStatus {
  position: absolute;
  z-index: 2000;
  right: 0;
  bottom: 0;
  padding: 1rem;

  @include themify($themes) {
    background-color: themed('secondary-background');
  }
}
