@import '../themify', '../vars';

.Token {
  display: inline-block;
  width: 307px;
  height: 307px;
  margin: 0 30px 30px 0;
  border-radius: $dialog-component-border-radius;
  cursor: pointer;

  @include themify($themes) {
    border: solid 1px themed('tertiary-background');
  }

  .logo {
    display: block;
    height: 42%;
    margin: 21% auto;
    transition-duration: $transition-duration;

    @include themify($themes) {
      stroke: themed('text-color');
      fill: themed('text-color');
    }
  }

  .footer {
    display: grid;
    height: 16%;
    transition: background-color $transition-duration;
    border-radius: 0 0 $dialog-component-border-radius $dialog-component-border-radius;

    @include themify($themes) {
      background-color: themed('primary-color');
      color: #000;
    }

    .footer-text {
      margin: auto;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: $letter-spacing-medium;
      text-transform: uppercase;
    }
  }

  &:hover {
    .footer {
      @include themify($themes) {
        background-color: lighten(themed('primary-color'), 10%);
      }
    }

    .logo {
      transform: scale(110%, 110%);
    }
  }
}
