@import '../themify', '../vars', '../partial';

.Token {
  @extend %disable-focus-outline;

  display: inline-block;
  width: 270px;
  height: 270px;
  margin: 0 2rem 2rem 0;
  transition: background-color $transition-duration;
  border-radius: $dialog-component-border-radius;
  cursor: pointer;

  @include themify($themes) {
    background-color: themed('normal-color');
  }

  .logo {
    display: block;
    height: 42%;
    margin: 21% auto;
    transition-duration: $transition-duration;

    @include themify($themes) {
      stroke: themed('text-color');
      fill: themed('text-color');
    }
  }

  .footer {
    display: grid;
    height: 16%;
    transition: background-color $transition-duration;
    border-radius: 0 0 $dialog-component-border-radius $dialog-component-border-radius;

    @include themify($themes) {
      background-color: themed('primary-color');
      color: #000;
    }

    .footer-text {
      margin: auto;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: $letter-spacing-medium;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &:hover,
  &:focus {
    @include themify($themes) {
      background-color: themed('secondary-background');
    }

    .footer {
      @include themify($themes) {
        background-color: themed('btn-focus-bg');
        color: themed('secondary-background');
      }
    }

    .logo {
      transform: scale(1.2);
    }
  }
}
