@import '../themify', '../vars';

.Sidebar {
  $link-font-weight: 300;
  $link-letter-spacing: 0.96px;
  $normal-left-padding: 45px;

  display: grid;
  grid-template-rows: auto auto 1fr auto;
  width: $sidebar-width;
  height: 100vh;

  @include themify($themes) {
    background-color: themed('secondary-background');
  }

  .logo img {
    display: block;
    width: $sidebar-width;
    margin: 1rem auto 0;
  }

  .title {
    width: 100%;
    height: 100px;
    margin: 0;
    padding-left: $normal-left-padding + 36px;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: -0.81px;

    @include themify($themes) {
      color: themed('text-color');
    }
  }

  .navigation {
    padding: 0;
    list-style-type: none;

    .link {
      display: block;
      z-index: $zindex-sidebar;
      outline: 0;
      font-size: 18px;
      font-weight: $link-font-weight;
      letter-spacing: $link-letter-spacing;
      line-height: 43px;
      text-decoration: none;
      cursor: pointer;

      .prefix {
        display: inline-block;
        width: $normal-left-padding;
      }

      &.active {
        .link-title {
          font-weight: bold;
          letter-spacing: 0.2px;
        }

        .prefix {
          @include themify($themes) {
            border-left: 3px solid themed('border-color-base');
          }
        }
      }

      .icon {
        display: inline-block;
        position: relative;
        width: 39px;

        .svg {
          position: absolute;
          top: 50%;
          bottom: 50%;
          transform: translate(-50%, -50%);

          @include themify($themes) {
            stroke-width: 0.2;
            stroke: themed('text-color');
            fill: themed('text-color');

            &.settings {
              stroke-width: 0.4;
            }
          }
        }
      }
    }

    &.locked .link {
      cursor: not-allowed;
    }
  }

  .footer {
    margin: 0 0 2em;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1.8px;
    text-align: center;
    text-transform: uppercase;

    .support,
    .status {
      margin-right: 8px;
      padding-right: 7px;

      @include themify($themes) {
        border-right: 1px solid themed('text-color');
      }
    }

    .footer-link {
      cursor: pointer;

      &:hover {
        @include themify($themes) {
          color: themed('primary-color');
        }
      }

      &.disabled {
        opacity: 0.3;
        cursor: not-allowed;

        &:hover {
          @include themify($themes) {
            color: themed('text-color');
          }
        }
      }
    }

    .version {
      margin-top: 1em;
      font-weight: normal;
      letter-spacing: normal;
      text-transform: none;
    }
  }

  // Mini Sidebar
  @media screen and #{$sidebar-collapse-query} {
    $mini-left-padding: 33px;

    width: $sidebar-collapsed-width;

    .title {
      width: 100%;
      padding-left: 0;
      font-size: 18px;
      text-align: center;
    }

    .logo img {
      width: $sidebar-collapsed-width;
    }

    .navigation {
      .link {
        position: relative;
        z-index: $zindex-sidebar;

        .prefix {
          width: $mini-left-padding;
        }

        .link-title {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          margin-left: $sidebar-collapsed-width;
          padding: 0 1em;
          font-size: 18px;
          white-space: nowrap;

          @include themify($themes) {
            background-color: themed('secondary-background');
          }
        }

        &.active {
          .link-title {
            font-weight: $link-font-weight;
            letter-spacing: $link-letter-spacing;
          }
        }

        &:hover {
          .link-title {
            display: block;
          }
        }
      }
    }

    .footer {
      font-size: 10px;

      .footer-link {
        display: inline-block;
        margin-bottom: 0.5em;
        letter-spacing: 1px;
      }

      .support,
      .status {
        margin-right: 0;
        padding-right: 0;

        @include themify($themes) {
          border-right: 0px solid themed('text-color');
        }
      }

      .edition {
        display: none;
      }
    }
  }

  .ApiTestToggle {
    position: fixed;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
  }
}
