@import '../themify', '../vars';

.Sidebar {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  width: $sidebar-width;
  height: 100vh;

  @include themify($themes) {
    background-color: themed('secondary-background');
  }

  .logo img {
    display: block;
    margin: 1rem auto 0;
  }

  .title {
    width: 100%;
    height: 100px;
    margin: 0;
    padding-left: 152px;
    font-size: 54px;
    font-weight: bold;
    letter-spacing: -0.81px;

    @include themify($themes) {
      color: themed('primary-color');
    }
  }

  .navigation {
    padding: 0;
    list-style-type: none;

    .link {
      display: block;
      outline: 0;
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 0.96px;
      line-height: 66px;
      text-decoration: none;
      cursor: pointer;

      .prefix {
        display: inline-block;
        width: 116px;
      }

      &.active {
        font-weight: bold;

        .prefix {
          @include themify($themes) {
            border-left: 3px solid themed('border-color-base');
          }
        }
      }

      .icon {
        display: inline-block;
        position: relative;
        width: 39px;

        .svg {
          position: absolute;
          top: 50%;
          bottom: 50%;
          transform: translate(-50%, -50%);

          @include themify($themes) {
            stroke: rgba(0, 0, 0, 0);
            fill: themed('text-color');
          }
        }
      }
    }

    &.locked .link {
      cursor: not-allowed;
    }
  }

  .footer {
    margin: 0 0 2rem;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.8px;
    text-align: center;
    text-transform: uppercase;

    .footer-link {
      cursor: pointer;

      &:hover {
        @include themify($themes) {
          color: themed('primary-color');
        }
      }

      &.disabled {
        opacity: 0.3;
        cursor: not-allowed;

        &:hover {
          @include themify($themes) {
            color: themed('text-color');
          }
        }
      }
    }
  }

  @media screen and (max-width: $sidebar-collapse-at) {
    $mini-left-padding: 73px;
    width: $sidebar-collapsed-width;

    .title {
      padding-left: $mini-left-padding;
      font-size: 24px;
    }

    .logo img {
      width: 150px;
    }

    .navigation {
      .link {
        .prefix {
          width: $mini-left-padding;
        }

        .link-title {
          display: none;
        }
      }
    }

    .footer {
      font-size: 10px;
    }
  }
}
