@import '../themify', '../vars';

.Sidebar {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  width: 450px;
  height: 100vh;

  @include themify($themes) {
    background-color: themed('secondary-background');
  }

  .logo {
    margin: 37px 0 0 10px;
  }

  .title {
    width: 280px;
    height: 100px;
    margin: 0 0 0 152px;
    font-size: 54px;
    font-weight: bold;
    letter-spacing: -0.81px;

    @include themify($themes) {
      color: themed('primary-color');
    }
  }

  .navigation {
    padding: 0;
    list-style-type: none;

    .link {
      display: block;
      outline: 0;
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 0.96px;
      line-height: 66px;
      text-decoration: none;

      .prefix {
        display: inline-block;
        width: 116px;
      }

      &.active {
        font-weight: bold;

        .prefix {
          width: 113px;
          @include themify($themes) {
            border-left: 3px solid themed('border-color-base');
          }
        }
      }

      .icon {
        display: inline-block;
        position: relative;
        width: 39px;

        .svg {
          position: absolute;
          top: 50%;
          bottom: 50%;
          transform: translate(-50%, -50%);

          @include themify($themes) {
            stroke: themed('text-color');
            fill: themed('text-color');
          }
        }
      }
    }
  }

  .footer {
    margin: 0 0 30px 155px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.8px;
    text-transform: uppercase;

    .link {
      cursor: pointer;

      &:hover {
        @include themify($themes) {
          color: themed('primary-color');
        }
      }

      &.disabled {
        opacity: 0.3;
        cursor: default;

        &:hover {
          @include themify($themes) {
            color: themed('text-color');
          }
        }
      }
    }
  }
}
