@import '../partial', '../vars', '../functions';

.AddressBook {
  .toolbar {
    @include address-book-padding-top;
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-bottom: 3rem;
    line-height: 30px;
  }

  .address-list {
    @extend %base-grid;

    grid-template-columns: repeat(3, auto);

    .row {
      display: contents;

      .address {
        @extend %monospace;
      }

      .label {
        @extend %ellipsize;
        max-width: 40vw;
      }

      .actions {
        text-align: right;

        > span {
          @extend %disable-focus-outline;
          padding: 0.25em;
          cursor: pointer;
        }

        .delete {
          margin-right: 0.25em;
        }
      }
    }
  }
}
