@import '../partial', '../vars', '../functions';

.AddressBook {
  .toolbar {
    @include address-book-padding-top;
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-bottom: 3rem;
    line-height: 30px;
  }

  .icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
    stroke-width: 0;

    @include themify($themes) {
      fill: themed('text-color');
    }
  }

  .address-list {
    @extend %base-grid;

    grid-template-columns: repeat(3, auto);

    .row {
      display: contents;

      .action:focus {
        box-shadow: none;
        @include themify($themes) {
          -webkit-filter: drop-shadow( 2px 2px 1px themed('text-shadow'));
          filter: drop-shadow( 2px 2px 1px themed('text-shadow'));
        }
      }

      .address {
        @extend %monospace;
      }

      .label {
        @extend %ellipsize;
        max-width: 40vw;
      }

      .actions {
        text-align: right;

        > span {
          @extend %disable-focus-outline;
          padding: 0.25em;
          cursor: pointer;
        }

        .delete {
          margin-right: 0.25em;
        }
      }
    }
  }
}
