@import '../themify', '../partial', '../vars';

.DialogAddressSelect {
  .DialogColumns {
    grid-template-columns: 5fr 2fr;
  }

  .SelectContact {
    .label {
      @extend %dialog-label;
      display: block;

      @include themify($themes) {
        color: themed('dialog-label-color');
      }
    }

    .ant-select-selector .ant-select-selection-item {
      max-width: 120px;
    }
  }
}
