@import '../themify', '../partial', '../vars';

.DialogAddressSelect {
  .DialogColumns {
    grid-template-columns: 5fr 2fr;
  }

  .SelectContact {
    svg {
      @include themify($themes) {
        stroke: themed('text-color');
        fill: themed('text-color');
      }
    }

    .label {
      @extend %dialog-label;
      display: block;
    }

    .select-contact-field {
      width: 100%;
      height: $dialog-component-height;
      min-height: $dialog-component-height;
      border-radius: $dialog-component-border-radius;

      @include themify($themes) {
        border: 1px solid themed('dialog-dark-input-bg');
        background-color: themed('dialog-dark-input-bg');
        color: themed('secondary-text-color');
      }
    }

    .ant-select-selector {
      width: 100%;
      height: $dialog-component-height;
      margin-top: 1px;

      .ant-select-selection-search-input {
        line-height: 3;
      }

      .ant-select-selection-placeholder {
        line-height: 3;
      }

      .ant-select-selection-item {
        max-width: 120px;
        padding-top: 6px;
      }
    }
  }
}
